-- =============================================================================
-- Audit.RI_Check_Config -- seed (fact fk -> target pk relationships to RI-check)
-- =============================================================================
-- Generated from live Gold metadata, then hand-corrected (fk_Site -> Dim_Practice_Sites;
-- fact-to-fact journey refs fk_Appointment_* excluded). Regenerate the base list with:
--   SELECT ft.name Fact, fc.name FK, dp.Dim, dp.PK FROM sys.tables ft
--   JOIN sys.schemas fs ON fs.schema_id=ft.schema_id JOIN sys.columns fc ON fc.object_id=ft.object_id
--   LEFT JOIN (SELECT dt.name Dim, dc.name PK FROM sys.tables dt JOIN sys.schemas ds ON ds.schema_id=dt.schema_id
--     JOIN sys.columns dc ON dc.object_id=dt.object_id WHERE ds.name='Gold' AND dt.name LIKE 'Dim[_]%' AND dc.name LIKE 'pk[_]%') dp
--     ON dp.PK='pk_'+SUBSTRING(fc.name,4,128)
--   WHERE fs.name='Gold' AND (ft.name LIKE 'Fact[_]%' OR ft.name LIKE 'Aggregate[_]%') AND fc.name LIKE 'fk[_]%';
-- (Run client-side; sys.* is not queryable inside a Fabric proc.)
-- =============================================================================
DELETE FROM Audit.RI_Check_Config;
GO
