-- Audit.usp_Provision_Tenant
-- Provisions a tenant from a self-serve onboarding trial: allocates Tenant_ID/Client_ID (1:1, MAX+1),
-- writes the access chain (Security.Clients, Audit.Tenants, Security.Application_Users = principal on
-- the Full profile + Maintain_Targets), and the 30-day trial billing (Billing.Account_Billing.Paid_From
-- + Security.Access_Log). The Dentally OAuth token is NOT handled here -- the onboarding orchestrator
-- moves it into KV dentally-tokens-<env> keyed by the returned Tenant_ID, then triggers Ingest_Dentally.
-- Idempotent on the principal email (a re-run returns the existing tenant, no duplicates). Low volume;
-- MAX+1 is not concurrency-safe for simultaneous provisions (fine at trial cadence).
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [Audit].[usp_Provision_Tenant]
GO
CREATE PROCEDURE [Audit].[usp_Provision_Tenant]
(
    @Practice_Name        VARCHAR(255),
    @Principal_Email      VARCHAR(255),
    @Paid_From            DATE,
    @Dentally_Practice_ID VARCHAR(100) = NULL,
    @Access_From          DATE          = NULL,
    @Tenant_ID            INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @now DATETIME2(3) = SYSUTCDATETIME();
    IF @Access_From IS NULL SET @Access_From = CAST(@now AS DATE);

    -- Idempotency: if this principal is already provisioned, return their existing tenant.
    DECLARE @existing_client INT = (SELECT TOP 1 Client_ID FROM [Security].[Application_Users]
                                    WHERE LOWER(User_UPN) = LOWER(@Principal_Email));
    IF @existing_client IS NOT NULL
    BEGIN
        SET @Tenant_ID = (SELECT TOP 1 Tenant_ID FROM [Audit].[Tenants]
                          WHERE Client_ID = @existing_client ORDER BY Tenant_ID);
        RETURN;
    END

    -- Allocate a new id (Tenant_ID == Client_ID convention; MAX+1 across both tables).
    DECLARE @new INT = (SELECT ISNULL(MAX(Tenant_ID),100) FROM [Audit].[Tenants]);
    DECLARE @maxc INT = (SELECT ISNULL(MAX(Client_ID),100) FROM [Security].[Clients]);
    IF @maxc > @new SET @new = @maxc;
    SET @new = @new + 1;

    INSERT INTO [Security].[Clients] (Client_ID, Client_Name) VALUES (@new, @Practice_Name);

    INSERT INTO [Audit].[Tenants]
        (Tenant_ID, Client_ID, Tenant_Name, API_Base_URL, API_Key, Dentally_Client_ID, Dentally_Secret, Is_Active, Last_Loaded_At, Notes)
    VALUES
        (@new, @new, @Practice_Name, 'https://api.dentally.co/v1', NULL, NULL, NULL, 1, NULL,
         CONCAT('Self-serve trial onboarding ', CONVERT(varchar(10), CAST(@now AS DATE), 23),
                '; token in KV dentally-tokens; Dentally practice ', ISNULL(@Dentally_Practice_ID,'?')));

    INSERT INTO [Security].[Application_Users]
        (User_UPN, Client_ID, Display_Name, Maintain_Targets,
         Access_Home, Access_Revenue, Access_Patient, Access_Schedule, Access_Clinical, Access_NHS,
         Access_Day_Book, Access_Finance, Access_My_Data, Access_Marketing, Practitioner_Full_Name, Profile_Key)
    VALUES
        (@Principal_Email, @new, @Practice_Name, 1, 1,1,1,1,1,1, 1,1,1,1, NULL, 'full');

    -- 30-day trial: Paid_From gates billing (onboarding sets it = access + 30d).
    DELETE FROM [Billing].[Account_Billing] WHERE Tenant_ID = @new;
    INSERT INTO [Billing].[Account_Billing] (Tenant_ID, Access_From, Paid_From, Notes, Updated_At)
    VALUES (@new, @Access_From, @Paid_From, 'Self-serve 30-day trial', @now);

    INSERT INTO [Security].[Access_Log] (Tenant_ID, User_UPN, Profile_Key, Effective_At, Changed_By)
    VALUES (@new, @Principal_Email, 'full', @now, 'onboarding');

    SET @Tenant_ID = @new;
END
GO