-- Billing.Credit_Note
-- One row per credit note issued against a Stripe invoice. Append-only: a credit note is a legal
-- document that has been sent to a practice and cannot be edited or withdrawn, only superseded.
--
-- WHY THIS IS A SEPARATE TABLE. Billing.Stripe_Invoice holds exactly ONE row per (Tenant, month) --
-- the invoice currently in force -- and Web/billing_run.py's whole double-billing guard rests on
-- that. Crediting an invoice and re-issuing a corrected one would put two invoices on one month, so
-- the superseded one moves here instead of competing for that row. This table is therefore the only
-- record that the earlier invoice ever existed, which is why it keeps the full figures rather than
-- a pointer.
--
-- WHAT WAS CREDITED. Amount_Pence is GROSS (inclusive of VAT), matching Stripe_Invoice.Amount_Pence
-- and Invoice_Line.Value. Tax_Pence is the VAT inside it. Both are stored because a credit note
-- MUST mirror the VAT of the invoice it credits: crediting by flat amount rather than line by line
-- produces a credit note with NO VAT on it at all, which would leave VAT charged and never
-- credited. billing_run credits line by line for exactly this reason.
--
-- WHERE THE MONEY WENT. Refund_Pence is money sent back to the card; Credit_Balance_Pence is credit
-- held on the Stripe customer and applied automatically to their next invoice. Exactly one of the
-- two is normally set, and their sum is Amount_Pence when the invoice had been paid. For an invoice
-- that was issued but NOT yet paid both are NULL -- the credit simply reduced what was owed.
IF SCHEMA_ID('Billing') IS NULL EXEC('CREATE SCHEMA Billing');
GO
IF OBJECT_ID('Billing.Credit_Note') IS NULL
CREATE TABLE [Billing].[Credit_Note] (
    [Tenant_ID]              INT           NOT NULL,
    [Year_Month]             INT           NOT NULL,   -- YYYYMM, the month the credited invoice billed
    [Stripe_Credit_Note_ID]  VARCHAR(64)   NOT NULL,
    [Credit_Note_Number]     VARCHAR(64)       NULL,   -- human-facing, as printed on the PDF
    [Stripe_Invoice_ID]      VARCHAR(64)   NOT NULL,   -- the invoice credited; its row in
                                                       -- Billing.Stripe_Invoice is removed
    [Invoice_Number]         VARCHAR(64)       NULL,
    [Stripe_Customer_ID]     VARCHAR(64)       NULL,
    [Amount_Pence]           BIGINT            NULL,   -- gross credited, inclusive of VAT
    [Tax_Pence]              BIGINT            NULL,   -- the VAT inside Amount_Pence
    [Currency]               VARCHAR(3)        NULL,
    [Refund_Pence]           BIGINT            NULL,   -- returned to the card
    [Credit_Balance_Pence]   BIGINT            NULL,   -- held against the next invoice
    [Reason]                 VARCHAR(32)       NULL,   -- Stripe's own enum
    [Memo]                   VARCHAR(1000)     NULL,   -- what the practice reads on the PDF
    [Created_At]             DATETIME2(3)  NOT NULL,
    [Created_By]             VARCHAR(128)      NULL
);
GO
