-- Billing.Invoice_Line_Adjustment
-- A deliberate, recorded override of ONE user's line on ONE month's invoice: drop it, or charge a
-- different figure. Applied by Billing.usp_Generate_Invoice_Lines at the end of its calculation.
--
-- WHY IT IS NOT JUST AN EDIT TO Billing.Invoice_Line. That table is DELETEd and rebuilt every time
-- the month is generated, and the billing run regenerates freely while a month is still a draft --
-- so a hand-edited line would silently revert, probably between someone checking it and the invoice
-- going out. Adjustments live outside the rebuild and are re-applied every time.
--
-- WHY IT IS NOT AN ACCESS CHANGE. The obvious way to stop billing someone is to set them to No
-- access on the Subscriptions screen, and it does not work retrospectively: the generator bills
-- from Security.Access_Log intervals and its rule is that mid-month changes stay FULL month
-- (pro-rata is sign-up only). Setting a leaver to No access today therefore still bills them for
-- the whole of the current month. Removing them from Security.Application_Users entirely -- which
-- is what a Dentally deactivation does -- drops them from EVERY month that is ever regenerated,
-- including past ones. Neither expresses "this user should not have been on THIS invoice", which is
-- the thing an operator actually needs to say, so this table says it.
--
-- WHY IT RECORDS WHO AND WHY. It changes what a practice is charged. Reason and Created_By are the
-- only trail of a decision that a bank statement will otherwise disagree with months later.
--
-- Action:
--   'exclude'  -- the line is not billed at all this month
--   'override' -- the line is billed at Override_Value instead (GROSS, inclusive of VAT, like every
--                 other price here). Zero is allowed but 'exclude' says it better.
--
-- Scope is (Tenant_ID, Year_Month, User_UPN): one adjustment per user per month, and it applies to
-- that month only. A user who should never be billed again needs their access removed, not an
-- adjustment on every future month.
IF SCHEMA_ID('Billing') IS NULL EXEC('CREATE SCHEMA Billing');
GO
IF OBJECT_ID('Billing.Invoice_Line_Adjustment') IS NULL
CREATE TABLE [Billing].[Invoice_Line_Adjustment] (
    [Tenant_ID]      INT            NOT NULL,
    [Year_Month]     INT            NOT NULL,   -- YYYYMM the adjustment applies to
    [User_UPN]       VARCHAR(255)   NOT NULL,
    [Action]         VARCHAR(16)    NOT NULL,   -- 'exclude' | 'override'
    [Override_Value] DECIMAL(9,2)       NULL,   -- gross inc. VAT; required when Action='override'
    [Reason]         VARCHAR(500)       NULL,
    [Created_At]     DATETIME2(3)   NOT NULL,
    [Created_By]     VARCHAR(255)       NULL
);
GO
