-- Billing.Profile_Pricing seed -- DATE-RANGED prices. Valid_From..Valid_To (NULL To = current/open).
--
-- PRICES ARE VAT-INCLUSIVE (GROSS). Monthly_Price is what the practice PAYS, not what we keep:
--   full 60.00  ->  50.00 net + 10.00 VAT
--   clinician 24.00  ->  20.00 net + 4.00 VAT
--   front_office 6.00  ->  5.00 net + 1.00 VAT
-- Chosen deliberately (2026-09-17). Dental treatment is a VAT-exempt supply, so most practices are
-- wholly or partly exempt and cannot reclaim the VAT we charge -- the gross figure is a real cost to
-- them, not something that washes out. Quoting the all-in number is therefore the honest price, and
-- the one a practice compares against a competitor.
--
-- CONSEQUENCE FOR STRIPE: the tax rate MUST be INCLUSIVE, so Stripe derives the VAT from the gross
-- rather than adding 20% on top. An exclusive rate against these figures would bill 72.00 for a full
-- seat. A Stripe tax rate's `inclusive` flag cannot be edited after creation.
--
-- Billing.Invoice_Line.Value therefore also holds GROSS, and the Invoices screen says so.
--
-- To schedule a change: close the current row and add the next, e.g. front_office -> GBP7 from Jan 2027:
--   UPDATE Billing.Profile_Pricing SET Valid_To='2026-12-31' WHERE Profile_Key='front_office' AND Valid_To IS NULL;
--   INSERT INTO Billing.Profile_Pricing (Profile_Key,Year_Month,Monthly_Price,Valid_From,Valid_To) VALUES ('front_office',202701,7.00,'2027-01-01',NULL);
-- The rollup / pricing pick the row whose range covers the as-of date. (Year_Month kept for reference.)
--
-- Replaced outright rather than layered with a new Valid_From: nothing has ever been invoiced (zero
-- rows in Billing.Invoice_Line, and the only account has Paid_From = 2100-01-01), so there is no
-- history to preserve and a dated row would only imply a price change that never happened.
DELETE FROM [Billing].[Profile_Pricing];
INSERT INTO [Billing].[Profile_Pricing] ([Profile_Key],[Year_Month],[Monthly_Price],[Valid_From],[Valid_To]) VALUES
 ('full',         202607, 60.00, '2026-07-01', NULL),
 ('clinician',    202607, 24.00, '2026-07-01', NULL),
 ('front_office', 202607,  6.00, '2026-07-01', NULL);
GO
