-- Billing.usp_Generate_Invoice_Lines
-- Bills a month from the Access_Log history (NOT a live snapshot), so historical months are correct
-- and months before anyone subscribed produce nothing. Rules:
--   * Each user is billed for the HIGHEST-priced billable profile they held at any point in the month.
--   * bill_start = MAX(user's first billable/access date, the account's Paid_From). Nothing bills before it.
--   * The month bill_start lands in is PRO-RATED by days; earlier months = 0; later months = full
--     (mid-month changes/cancellations stay full-month -- pro-rata is initial sign-up only).
--   * Billing.Invoice_Line_Adjustment is applied LAST: a recorded manual correction to one user's
--     line on one month (drop it, or charge a different figure). It is the only way to say "this
--     user should not have been on THIS invoice" -- setting them to No access does not do it,
--     because a mid-month change still bills the full month.
-- Idempotent per month (clears + regenerates). Manual run: EXEC Billing.usp_Generate_Invoice_Lines @Year_Month=202608;  -- NULL = last month
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [Billing].[usp_Generate_Invoice_Lines]
GO
CREATE PROCEDURE [Billing].[usp_Generate_Invoice_Lines]
(
    @Year_Month INT = NULL   -- YYYYMM to bill; NULL = the month that just ended
)
AS
BEGIN
    SET NOCOUNT ON;
    IF @Year_Month IS NULL
    BEGIN
        DECLARE @prev DATE = DATEADD(day, -1, CAST(SYSUTCDATETIME() AS DATE));  -- yesterday -> its month
        SET @Year_Month = YEAR(@prev) * 100 + MONTH(@prev);
    END

    DECLARE @MStart DATE = DATEFROMPARTS(@Year_Month / 100, @Year_Month % 100, 1);
    DECLARE @MNext  DATE = DATEADD(month, 1, @MStart);
    DECLARE @MEnd   DATE = DATEADD(day, -1, @MNext);
    DECLARE @Days   INT  = DATEDIFF(day, @MStart, @MNext);

    DELETE FROM [Billing].[Invoice_Line] WHERE [Year_Month] = @Year_Month;

    ;WITH price AS (
        SELECT p.Profile_Key, p.Monthly_Price
        FROM [Billing].[Profile_Pricing] p
        JOIN (SELECT Profile_Key, MAX(Valid_From) vf FROM [Billing].[Profile_Pricing]
              WHERE Valid_From <= @MStart AND (Valid_To IS NULL OR Valid_To >= @MStart) GROUP BY Profile_Key) m
          ON m.Profile_Key = p.Profile_Key AND m.vf = p.Valid_From
    ),
    usr AS (
        SELECT au.User_UPN, t.Tenant_ID, au.Display_Name
        FROM [Security].[Application_Users] au
        JOIN [Audit].[Tenants] t ON t.Client_ID = au.Client_ID
        WHERE LOWER(au.User_UPN) NOT LIKE '%@analytically.info'   -- our own admin/support logins are never billed
    ),
    intervals AS (   -- each Access_Log row is a profile held from FromD until the next change (ToD, NULL = open)
        SELECT l.User_UPN, l.Profile_Key,
               CAST(l.Effective_At AS DATE) AS FromD,
               LEAD(CAST(l.Effective_At AS DATE)) OVER (PARTITION BY l.User_UPN ORDER BY l.Effective_At) AS ToD
        FROM [Security].[Access_Log] l
    ),
    fb AS (   -- first day each user ever held a billable profile (their access-to-paid anchor)
        SELECT i.User_UPN, MIN(i.FromD) AS First_Billable
        FROM intervals i JOIN price p ON p.Profile_Key = i.Profile_Key
        WHERE p.Monthly_Price > 0
        GROUP BY i.User_UPN
    ),
    base AS (  -- date billing starts for each user = later of their access date and the account Paid_From
        SELECT u.User_UPN, u.Tenant_ID, u.Display_Name,
               CASE WHEN ab.Paid_From IS NULL OR ab.Paid_From < fb.First_Billable
                    THEN fb.First_Billable ELSE ab.Paid_From END AS Bill_Start,
               ab.Cancelled_At AS Cancelled_At
        FROM usr u
        JOIN fb ON fb.User_UPN = u.User_UPN
        LEFT JOIN [Billing].[Account_Billing] ab ON ab.Tenant_ID = u.Tenant_ID
    ),
    held AS (  -- billable profiles overlapping this month's charge window, ranked by price (highest wins)
        SELECT b.Tenant_ID, b.User_UPN, b.Display_Name, b.Bill_Start,
               i.Profile_Key, p.Monthly_Price,
               ROW_NUMBER() OVER (PARTITION BY b.User_UPN ORDER BY p.Monthly_Price DESC) AS rn
        FROM base b
        JOIN intervals i ON i.User_UPN = b.User_UPN
        JOIN price p ON p.Profile_Key = i.Profile_Key AND p.Monthly_Price > 0
        WHERE b.Bill_Start <= @MEnd
          AND i.FromD < @MNext
          AND (i.ToD IS NULL OR i.ToD > (CASE WHEN @MStart > b.Bill_Start THEN @MStart ELSE b.Bill_Start END))
          AND (b.Cancelled_At IS NULL OR b.Cancelled_At > @MEnd)   -- don't bill a cancelled tenant
    )
    , lines AS (
        SELECT h.Tenant_ID, h.User_UPN, h.Display_Name, h.Profile_Key,
               ROUND(h.Monthly_Price * CASE WHEN h.Bill_Start <= @MStart THEN 1.0
                                            ELSE (DATEDIFF(day, h.Bill_Start, @MEnd) + 1) * 1.0 / @Days END, 2) AS Value
        FROM held h WHERE h.rn = 1
    )
    -- A recorded manual correction to ONE user's line on THIS month: drop it, or charge a different
    -- figure. Applied LAST, so it overrides everything the access history implies -- which is the
    -- point: it exists precisely for the cases the history gets wrong, such as a leaver who was
    -- never deactivated in Dentally. Re-applied on every regeneration, because Invoice_Line is
    -- rebuilt each time and a hand-edited row would silently revert.
    , adj AS (
        SELECT a.Tenant_ID, LOWER(LTRIM(RTRIM(a.User_UPN))) AS User_UPN, a.Action, a.Override_Value
        FROM [Billing].[Invoice_Line_Adjustment] a
        WHERE a.Year_Month = @Year_Month
    )
    , adjusted AS (
        SELECT l.Tenant_ID, l.User_UPN, l.Display_Name, l.Profile_Key,
               -- An 'override' with no figure is IGNORED and the line bills normally. The two ways
               -- to get this wrong both fail unsafely: dropping the line bills nothing, and taking
               -- the NULL bills zero. A missing figure is an input error, and the safe reading of an
               -- input error is to charge what the access history says, not to charge nothing.
               CASE WHEN a.Action = 'override' AND a.Override_Value IS NOT NULL
                    THEN a.Override_Value ELSE l.Value END AS Value
        FROM lines l
        LEFT JOIN adj a ON a.Tenant_ID = l.Tenant_ID
                       AND a.User_UPN  = LOWER(LTRIM(RTRIM(l.User_UPN)))
        -- ==> ISNULL, NOT A BARE COMPARISON. <== a.Action is NULL on every UNADJUSTED line, and a
        -- predicate like NOT (a.Action = 'override' AND ...) evaluates to UNKNOWN there rather than
        -- TRUE -- which silently discarded EVERY unadjusted line and generated empty invoices.
        -- Caught only because the test asserted the untouched baseline as well as the adjusted row.
        WHERE ISNULL(a.Action, '') <> 'exclude'
    )
    -- affiliate: the tenant's referral partner earns Commission_Pct of each invoiced line, for life
    -- ("reverse invoice"). Recorded here for the affiliate payout; the customer Invoices screen never
    -- selects these columns. Rate = per-tenant override, else the affiliate's standard Commission_Pct.
    INSERT INTO [Billing].[Invoice_Line]
        (Tenant_ID, Year_Month, User_UPN, Display_Name, Profile_Key, Value, Generated_At,
         Affiliate_ID, Affiliate_Commission_Pct, Affiliate_Commission_Value)
    SELECT l.Tenant_ID, @Year_Month, l.User_UPN, l.Display_Name, l.Profile_Key, l.Value, SYSUTCDATETIME(),
           ab.Affiliate_ID,
           CASE WHEN ab.Affiliate_ID IS NULL THEN NULL
                ELSE COALESCE(ab.Affiliate_Commission_Pct, af.Commission_Pct) END,
           CASE WHEN ab.Affiliate_ID IS NULL THEN NULL
                ELSE ROUND(l.Value * COALESCE(ab.Affiliate_Commission_Pct, af.Commission_Pct, 0), 2) END
    FROM adjusted l
    LEFT JOIN [Billing].[Account_Billing] ab ON ab.Tenant_ID = l.Tenant_ID
    LEFT JOIN [Billing].[Affiliate] af ON af.Affiliate_ID = ab.Affiliate_ID;
END
GO