-- Billing schema for subscription invoicing.
IF SCHEMA_ID('Billing') IS NULL EXEC('CREATE SCHEMA Billing');
GO
-- Billing.Profile_Pricing
-- Vendor pricing per profile, EFFECTIVE FROM a month (Year_Month = YYYYMM). Reprice by INSERTing a
-- new (Profile_Key, Year_Month) row in SQL -- no app change. The invoice rollup uses the latest row
-- with Year_Month <= the billed month. IDEMPOTENT CREATE so pricing survives redeploys.
IF OBJECT_ID('Billing.Profile_Pricing') IS NULL
CREATE TABLE [Billing].[Profile_Pricing] (
    [Profile_Key]   [varchar](50)  NOT NULL,   -- 'full' | 'clinician' | 'front_office'
    [Year_Month]    [int]          NOT NULL,    -- YYYYMM, e.g. 202701 = effective from Jan 2027
    [Monthly_Price] [decimal](9,2) NOT NULL
);
GO

GO
-- date-ranged pricing: Valid_From..Valid_To (NULL To = current/open). Migrated from the legacy Year_Month.
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Profile_Pricing' AND COLUMN_NAME='Valid_From')
    ALTER TABLE [Billing].[Profile_Pricing] ADD [Valid_From] [date] NULL;
GO
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Profile_Pricing' AND COLUMN_NAME='Valid_To')
    ALTER TABLE [Billing].[Profile_Pricing] ADD [Valid_To] [date] NULL;
GO
UPDATE [Billing].[Profile_Pricing] SET Valid_From = DATEFROMPARTS([Year_Month]/100, [Year_Month]%100, 1)
WHERE Valid_From IS NULL AND [Year_Month] IS NOT NULL;
GO