-- Billing.Account_Billing.Data.sql -- per-tenant billing dates (vendor-set). Insert-if-missing so a
-- manual override (e.g. a dev test date) is never clobbered on redeploy.
--   Access_From = when access was granted; Paid_From = when we start charging (the gap = the free trial).
-- Maple (tenant 100) is a partner and FREE FOREVER, so Paid_From is set far in the future (2100-01-01):
-- the rollup then yields nothing for them in live. (On dev this row is manually set to a near date so
-- billing/invoices can be exercised -- DEV issues no real payment request.)
INSERT INTO Billing.Account_Billing (Tenant_ID, Access_From, Paid_From, Notes, Updated_At)
SELECT v.Tenant_ID, v.Access_From, v.Paid_From, v.Notes, SYSUTCDATETIME()
FROM (VALUES
    (100, CAST('2026-07-17' AS DATE), CAST('2100-01-01' AS DATE), 'Partner -- free forever, never billed')
) AS v(Tenant_ID, Access_From, Paid_From, Notes)
LEFT JOIN Billing.Account_Billing ab ON ab.Tenant_ID = v.Tenant_ID
WHERE ab.Tenant_ID IS NULL;