-- Billing.Account_Billing.Table.sql
-- Per-account billing control. Two SEPARATE dates:
--   Access_From = when the practice first had access to the product (informational).
--   Paid_From   = when we START CHARGING. This is the only gate the rollup uses.
-- The free trial is encoded purely as the gap between them (e.g. Paid_From = Access_From + 30 days);
-- no trial/discount is ever shown on an invoice -- the rollup just yields nothing before Paid_From.
-- NULL Paid_From = bill from first access (no trial). Vendor-maintained (not owner-editable).
IF OBJECT_ID('Billing.Account_Billing') IS NULL
CREATE TABLE Billing.Account_Billing (
    Tenant_ID    INT           NOT NULL,
    Access_From  DATE          NULL,
    Paid_From    DATE          NULL,
    Notes        VARCHAR(255)  NULL,
    Updated_At   DATETIME2(3)  NULL
);

GO
-- affiliate link (referral partner earning commission on this tenant's invoices) -- guarded ALTER.
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Account_Billing' AND COLUMN_NAME='Affiliate_ID')
    ALTER TABLE [Billing].[Account_Billing] ADD [Affiliate_ID] [int] NULL;
GO
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Account_Billing' AND COLUMN_NAME='Affiliate_Commission_Pct')
    ALTER TABLE [Billing].[Account_Billing] ADD [Affiliate_Commission_Pct] [decimal](6,3) NULL;   -- per-deal override; NULL = use Affiliate.Commission_Pct
GO

GO
-- cancellation: immediate revoke is via Audit.Tenants.Is_Active=0; here we record the reason + a
-- Delete_By date (cancellation + 28 days) after which the offboarding job purges the tenant. Guarded ALTER.
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Account_Billing' AND COLUMN_NAME='Cancelled_At')
    ALTER TABLE [Billing].[Account_Billing] ADD [Cancelled_At] [datetime2](3) NULL;
GO
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Account_Billing' AND COLUMN_NAME='Cancel_Reason')
    ALTER TABLE [Billing].[Account_Billing] ADD [Cancel_Reason] [varchar](1000) NULL;
GO
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Account_Billing' AND COLUMN_NAME='Delete_By')
    ALTER TABLE [Billing].[Account_Billing] ADD [Delete_By] [date] NULL;
GO

GO
-- Stripe linkage. The Customer is created lazily on first use and holds the practice's saved
-- card; it is NOT a Stripe Subscription -- Billing.usp_Generate_Invoice_Lines remains the sole
-- system of record for what is owed, and Stripe is only the rail that collects it. Guarded ALTER.
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Account_Billing' AND COLUMN_NAME='Stripe_Customer_ID')
    ALTER TABLE [Billing].[Account_Billing] ADD [Stripe_Customer_ID] [varchar](64) NULL;
GO
