-- Billing.Affiliate
-- Master list of affiliates (referral partners). MULTI-TENANT: one affiliate can sign up many
-- practices (referenced by Billing.Account_Billing.Affiliate_ID). The affiliate earns Commission_Pct
-- of every invoiced amount for each linked tenant, for life -- a "reverse invoice" (money we pay out).
-- Vendor-managed (set in SQL at onboarding). IDEMPOTENT CREATE so records survive redeploys.
IF SCHEMA_ID('Billing') IS NULL EXEC('CREATE SCHEMA Billing');
GO
IF OBJECT_ID('Billing.Affiliate') IS NULL
CREATE TABLE [Billing].[Affiliate] (
    [Affiliate_ID]   [int]          NOT NULL,   -- surrogate, manually assigned (small vendor-managed set)
    [Email]          [varchar](255) NOT NULL,   -- affiliate contact / identity
    [Name]           [varchar](255) NULL,
    [Commission_Pct] [decimal](6,3) NOT NULL,   -- fraction of invoiced amount, e.g. 0.100 = 10%
    [Created_At]     [datetime2](3) NULL,
    [Notes]          [varchar](255) NULL,
    -- Self-billing (HMRC VAT Notice 700/62). We raise the invoice on the partner's behalf and
    -- pay it, so THEIR details go on it: a self-billed VAT invoice must carry the supplier's
    -- name, ADDRESS and VAT NUMBER, and may only be issued where a WRITTEN agreement is already
    -- in place -- never to a supplier who is not VAT registered or whose number has changed.
    -- The first partner channel is NASDAL accountancy firms, so a self-bill missing a VAT
    -- number reaches the one audience certain to notice.
    [Address]              [varchar](500) NULL,
    -- Is_VAT_Registered is SEPARATE from VAT_Number on purpose: a NULL number could mean 'not
    -- registered' or 'we never asked', and those need different actions -- issue a plain
    -- commission statement, versus stop and ask before paying anything.
    [VAT_Number]           [varchar](20)  NULL,
    [Is_VAT_Registered]    [bit]          NULL,
    [Self_Bill_Agreed_On]  [date]         NULL,   -- evidence the agreement pre-dates the invoice
    [Bank_Account_Name]    [varchar](255) NULL,
    [Bank_Sort_Code]       [varchar](10)  NULL,
    [Bank_Account_Number]  [varchar](20)  NULL
);
GO