-- Billing.Invoice_Line
-- One line per (Tenant, User, billed month): the profile the user held x that month's effective price.
-- Generated on the 1st of the following month by Billing.usp_Generate_Invoice_Lines (idempotent per
-- month -- it clears and regenerates the month). IDEMPOTENT CREATE so invoice history survives redeploys.
IF OBJECT_ID('Billing.Invoice_Line') IS NULL
CREATE TABLE [Billing].[Invoice_Line] (
    [Tenant_ID]    [int]          NOT NULL,
    [Year_Month]   [int]          NOT NULL,    -- billed month, YYYYMM
    [User_UPN]     [varchar](255) NOT NULL,
    [Display_Name] [varchar](255) NULL,
    [Profile_Key]  [varchar](50)  NOT NULL,
    [Value]        [decimal](9,2) NOT NULL,
    [Generated_At] [datetime2](3) NOT NULL
);
GO

GO
-- affiliate commission (reverse invoice) -- recorded per line for the affiliate payout; NEVER shown on
-- the customer Invoices screen (/api/invoices selects explicit columns). Guarded ALTER.
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Invoice_Line' AND COLUMN_NAME='Affiliate_ID')
    ALTER TABLE [Billing].[Invoice_Line] ADD [Affiliate_ID] [int] NULL;
GO
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Invoice_Line' AND COLUMN_NAME='Affiliate_Commission_Pct')
    ALTER TABLE [Billing].[Invoice_Line] ADD [Affiliate_Commission_Pct] [decimal](6,3) NULL;
GO
IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='Billing' AND TABLE_NAME='Invoice_Line' AND COLUMN_NAME='Affiliate_Commission_Value')
    ALTER TABLE [Billing].[Invoice_Line] ADD [Affiliate_Commission_Value] [decimal](9,2) NULL;
GO