-- Billing.Stripe_Invoice
-- One row per (Tenant, billed month): the Stripe invoice raised for it, and what happened.
--
-- THIS TABLE IS THE IDEMPOTENCY GUARD. Web/billing_run.py refuses to raise a second invoice for a
-- (Tenant_ID, Year_Month) that already has a row here, so a re-run -- after a crash, a partial
-- failure, or an operator running it twice -- cannot double-bill a practice. Stripe's own
-- idempotency_key is belt and braces on top; this is the primary control, because it survives
-- beyond Stripe's 24-hour key window and is visible in SQL.
--
-- Billing.Invoice_Line stays the authority on WHAT is owed (one row per user per month, gross).
-- This records only the Stripe side: which invoice carries those lines and its state.
--
-- Status mirrors Stripe's invoice status verbatim rather than inventing our own vocabulary --
-- draft / open / paid / uncollectible / void. A DRAFT row means the invoice exists but nothing has
-- been charged: billing_run creates drafts only, and finalising (which takes the money) is a
-- deliberate human act in the Stripe dashboard.
--
-- Amount_Pence is what Stripe was asked for, in integer pence, GROSS -- Profile_Pricing is
-- VAT-inclusive and the Stripe tax rate is inclusive, so Stripe derives the VAT from this figure.
-- Stored so a later reconciliation can compare against SUM(Invoice_Line.Value) without re-deriving
-- the rounding.
IF SCHEMA_ID('Billing') IS NULL EXEC('CREATE SCHEMA Billing');
GO
IF OBJECT_ID('Billing.Stripe_Invoice') IS NULL
CREATE TABLE [Billing].[Stripe_Invoice] (
    [Tenant_ID]          INT           NOT NULL,
    [Year_Month]         INT           NOT NULL,   -- YYYYMM, the month billed
    [Stripe_Invoice_ID]  VARCHAR(64)       NULL,   -- NULL only if creation failed part-way
    [Stripe_Customer_ID] VARCHAR(64)       NULL,
    [Status]             VARCHAR(32)       NULL,   -- Stripe's own: draft/open/paid/uncollectible/void
    [Amount_Pence]       BIGINT            NULL,   -- gross, integer pence, as sent to Stripe
    [Currency]           VARCHAR(3)        NULL,
    [Line_Count]         INT               NULL,
    [Error_Message]      VARCHAR(4000)     NULL,
    [Created_At]         DATETIME2(3)  NOT NULL,
    [Updated_At]         DATETIME2(3)      NULL
);
GO
