-- =====================================================================
-- Check_Stage_Duplicates.sql  --  post-pull validation for the Dentally
--   unstable-pagination bug (see reference: Dentally pagination bug).
-- =====================================================================
-- Dentally's BULK list endpoints are not stably ordered: a paged pull serves some records
-- TWICE and SKIPS an equal number. The duplicates land in stage, so any Stage view with
-- duplicate business keys was hit by the bug -- and, symmetrically, is missing ~that many
-- rows (silent gaps). Run this after an Ingest_Dentally pull; an EMPTY result = clean.
--
-- Method note: this is a WITHIN-entity duplicate-key check (reliable). Cross-entity
-- referential-integrity checks (e.g. childless parents / orphan children) are NOT reliable
-- here because our pulls extract entities sequentially over hours, so they throw
-- snapshot-timing false positives at the margins.
--
-- Scope: every Stage view carrying `id` + `tenant_id`, grouped per tenant.
-- Excluded: patient_stats (no `id`; keyed patient_id -- handled by the bulk+gap-fill routine
--   in Ingest_Dentally). Practitioner_Diary_Breaks (its `id` legitimately recurs across days;
--   real business key is (id, day)).
-- =====================================================================
SET NOCOUNT ON;

DECLARE @sql NVARCHAR(MAX);
SELECT @sql = STRING_AGG(CAST(
       'SELECT ''' + v.name + ''' AS Stage_View, TRY_CAST(tenant_id AS INT) AS Tenant_ID, '
     + 'COUNT(*) AS Rows_, COUNT(DISTINCT id) AS Distinct_ID, '
     + 'COUNT(*) - COUNT(DISTINCT id) AS Dup_Keys '
     + 'FROM Stage.' + QUOTENAME(v.name) + ' '
     + 'GROUP BY TRY_CAST(tenant_id AS INT) HAVING COUNT(*) > COUNT(DISTINCT id)'
       AS NVARCHAR(MAX)), ' UNION ALL ')
FROM sys.views v
WHERE v.schema_id = SCHEMA_ID('Stage')
  AND v.name NOT IN ('Practitioner_Diary_Breaks')   -- legit composite BK (id, day)
  AND EXISTS (SELECT 1 FROM sys.columns c WHERE c.object_id = v.object_id AND c.name = 'id')
  AND EXISTS (SELECT 1 FROM sys.columns c WHERE c.object_id = v.object_id AND c.name = 'tenant_id');

IF @sql IS NULL
    SELECT 'no id-keyed stage views found' AS Result;
ELSE
BEGIN
    SET @sql = 'SELECT * FROM (' + @sql + ') t ORDER BY Dup_Keys DESC, Stage_View';
    EXEC sp_executesql @sql;   -- rows returned = (view, tenant) hit by the pagination bug
END
