--------------------------------------------------------------------
--  Table   : Gold.Fact_Metric_Actuals
--  Author  : AIH
--  Date    : 26/06/2026
--  Purpose : Per-period ACTUAL value of each KPI metric, materialised so that
--            (a) target generation can seed Input.Targets from "last year's
--            actual", and (b) the target-vs-actual KPI cards can read a single
--            value instead of recomputing in DAX -- keeping both in step.
--
--            Grain: one row per (Tenant, Site, Practitioner, Metric, Period).
--              fk_Practice_Site = -1  -> all sites      (global / practitioner-global)
--              fk_Practitioner  = -1  -> all practitioners
--            i.e. three levels per metric/period:
--              global       (-1, -1)
--              site         ( N, -1)
--              practitioner (-1,  N)
--            mirroring Input.Targets' (Site_ID, Practitioner_ID) so generate maps 1:1.
--
--            Numerator/Denominator are stored for ratio metrics so they roll up
--            correctly; cumulative metrics use Actual_Value (= Numerator) only.
--
--            Loaded by Gold.usp_Load_Fact_Metric_Actuals.
--------------------------------------------------------------------
/****** Object:  Table [Gold].[Fact_Metric_Actuals]    Script Date: 26/06/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Fact_Metric_Actuals]
GO
CREATE TABLE [Gold].[Fact_Metric_Actuals](
    [pk_Metric_Actual]   [bigint] IDENTITY NOT NULL,
    [Tenant_ID]          [int]            NOT NULL,
    [fk_Practice_Site]   [bigint]         NOT NULL,   -- -1 = all sites
    [fk_Practitioner]    [bigint]         NOT NULL,   -- -1 = all practitioners
    [Metric]             [varchar](100)   NOT NULL,
    [Period_Type]        [varchar](20)    NOT NULL,   -- 'FY'
    [Period_Value]       [varchar](20)    NOT NULL,   -- 'FY 2025-26'
    [Numerator]          [decimal](18, 4) NULL,
    [Denominator]        [decimal](18, 4) NULL,       -- NULL for cumulative metrics
    [Actual_Value]       [decimal](18, 4) NULL,
    [DW_Created_At]      [datetime2](3)   NOT NULL,
    [DW_Updated_At]      [datetime2](3)   NOT NULL
)
GO
