--------------------------------------------------------------------
--  Stored Procedure :  Gold.usp_Load_Fact_Client_Status
--  Author           :  AIH
--  Initial Date     :  2026-10-02
--  History          :
--    *01     2026-10-02  AIH  Initial release (sales monitor dimensional model)
--  Notes            :  ONE ROW PER CLIENT. Rolls Sales.Usage_Daily (day grain) and
--                      Sales.Funnel_Event (event grain) up to the grain a commercial
--                      conversation happens at, resolving both status roles against
--                      Gold.Dim_Sales_Status. Agg-style full rebuild, so it MUST run after
--                      Gold.usp_Load_Dim_Client in the same chain.
--
--                      USAGE IS ATTRIBUTED VIA Security.Application_Users.Client_ID, not by email
--                      domain: a login belongs to the client whose user row it is. Vendor logins
--                      land on the vendor's own client row and are never a gap -- 91% of logged
--                      usage is ours, so mixing the two makes every customer look healthy.
--  To Run           :  DECLARE @i BIGINT,@u BIGINT,@d BIGINT; EXEC Gold.usp_Load_Fact_Client_Status @Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT
---------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Gold].[usp_Load_Fact_Client_Status]
(
      @Mode          VARCHAR(100)     = 'TEST'
    , @Logging       SMALLINT         = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    -- ==> DEFAULTS TO NULL = WHATEVER THIS WAREHOUSE HOLDS. <== It defaulted to 'prod', which
    -- meant running it in the DEV warehouse filtered out every row (dev's detail carries
    -- App_Env = 'dev') and produced a fact full of zeros that looked exactly like real
    -- dormancy. Each warehouse only ever holds its own environment's rows, so no filter is
    -- the correct default; pass a value only to deliberately isolate one.
    , @App_Env       VARCHAR(10)      = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;
    DECLARE @Today DATE = CAST(SYSUTCDATETIME() AS DATE);
    SET NOCOUNT ON;
    BEGIN TRY

        DELETE FROM [Gold].[Fact_Client_Status];
        SET @My_Deletes = @@ROWCOUNT;

        -- Every login in the usage detail, mapped to the client whose usage it IS.
        --
        -- ==> Is_Vendor WINS OVER THE CLIENT MAPPING. <== Our support accounts are provisioned AS
        -- CUSTOMER USERS so we can see what a practice sees -- in prod both admin@ and grace@
        -- carry Client_ID = 100. Attributing by Application_Users.Client_ID therefore credited
        -- 2,309 of OUR report opens to Maple and reported a customer dormant for 22 days as
        -- "Active (last 7 days)". That is the most damaging direction this monitor can be wrong
        -- in, and it will recur for every practice we support, so the flag must take precedence.
        -- Vendor usage lands on the vendor's own client row instead of vanishing, because knowing
        -- how much of the traffic is ours is itself worth seeing.
        DECLARE @Vendor_Client_ID INT =
                (SELECT MIN(bk_Client_ID) FROM [Gold].[Dim_Client] WHERE Is_Vendor = 1);

        DROP TABLE IF EXISTS #u2c;
        SELECT CASE WHEN ud.Is_Vendor = 1 THEN @Vendor_Client_ID ELSE au.Client_ID END AS Client_ID,
               ud.User_UPN, ud.Access_Date, ud.Report_Opens, ud.Reports_Distinct
        INTO   #u2c
        FROM   [Sales].[Usage_Daily] ud
        LEFT JOIN [Security].[Application_Users] au ON LOWER(au.User_UPN) = LOWER(ud.User_UPN)
        WHERE  (@App_Env IS NULL OR ud.App_Env = @App_Env)
               AND CASE WHEN ud.Is_Vendor = 1 THEN @Vendor_Client_ID ELSE au.Client_ID END IS NOT NULL;

        DROP TABLE IF EXISTS #ua;
        SELECT Client_ID,
               COUNT(DISTINCT Access_Date)       AS Days_Accessed,
               MIN(Access_Date)                  AS First_Access,
               MAX(Access_Date)                  AS Last_Access,
               SUM(CAST(Report_Opens AS BIGINT)) AS Reports_Accessed,
               MAX(Reports_Distinct)             AS Reports_Breadth,
               COUNT(DISTINCT User_UPN)          AS Users_Ever_Accessed
        INTO   #ua
        FROM   #u2c
        GROUP BY Client_ID;

        -- Furthest funnel stage reached per client. A funnel row that never became a tenant
        -- cannot be attributed to a client and is deliberately not forced onto one.
        DROP TABLE IF EXISTS #fn;
        -- ==> CLIENT FIRST, TENANT ONLY AS A FALLBACK. <== A PROSPECT has no tenant, so joining
        -- through Audit.Tenants dropped every early-stage row and the funnel could not see anyone
        -- before they converted -- which is most of a funnel. Client_ID comes straight off the
        -- challenge log now; the tenant route survives for stages derived from tenant-keyed
        -- sources, such as invoice_paid out of Billing.Stripe_Invoice.
        SELECT COALESCE(fe.Client_ID, t.Client_ID) AS Client_ID,
               MAX(ss.Status_Order)     AS Max_Order,
               COUNT(DISTINCT fe.Stage) AS Stages_Reached
        INTO   #fn
        FROM   [Sales].[Funnel_Event] fe
        LEFT JOIN [Audit].[Tenants] t       ON t.Tenant_ID      = fe.Tenant_ID
        JOIN   [Gold].[Dim_Sales_Status] ss ON ss.bk_Status_Code = fe.Stage
                                           AND ss.Status_Group   = 'Funnel'
        WHERE  (@App_Env IS NULL OR fe.App_Env = @App_Env)
               AND COALESCE(fe.Client_ID, t.Client_ID) IS NOT NULL
        GROUP BY COALESCE(fe.Client_ID, t.Client_ID);

        INSERT INTO [Gold].[Fact_Client_Status]
            (pk_Client_Status, fk_Client, fk_Sales_Status_Funnel, fk_Sales_Status_Access,
             fk_Date_Snapshot, fk_Date_First_Access, fk_Date_Last_Access, Days_Accessed,
             Days_Since_Last_Access, Reports_Accessed, Reports_Breadth, Users_Provisioned,
             Users_Ever_Accessed, Users_Never_Accessed, Has_Access_Gap, Funnel_Stages_Reached,
             DW_Created_At)
        SELECT
              ROW_NUMBER() OVER (ORDER BY dc.pk_Client)
            , dc.pk_Client
            -- Funnel role. Cancelled wins; then the furthest recorded stage; then a card on file
            -- for a paying account; then a live tenant; else no contact.
            --
            -- ==> A LIVE TENANT IS EVIDENCE, EVEN WITH NOTHING IN Sales.Funnel_Event. <== The
            -- funnel is only logged from the signup flow, which went in on 2026-10-02, so every
            -- client onboarded before it has NO events -- and prod's Sales.Funnel_Event is empty.
            -- Without this rung Maple read "No contact": a live practice, four users provisioned
            -- and 216 report opens, sitting at stage 1 on the board. An active tenant exists only
            -- because a Dentally key was accepted for it, which IS stage 4 (token_accepted), so
            -- claim exactly that and no more -- never the card stages, which stay unpopulated
            -- until a real card exists.
            , CASE WHEN dc.Is_Cancelled = 1              THEN 8
                   WHEN ISNULL(fnx.Max_Order, 0) > 0     THEN ISNULL(fs.pk_Sales_Status, -1)
                   WHEN dc.Is_Free_Forever = 0 AND dc.Has_Stripe_Customer = 1 THEN 5
                   WHEN dc.Active_Tenant_Count > 0       THEN 4
                   ELSE 1 END
            -- Access role. Order matters: nobody provisioned beats never accessed, because a
            -- client with no users needs a different fix from one whose users ignore it.
            , CASE WHEN dc.Is_Vendor = 1                 THEN 16
                   WHEN dc.Users_Provisioned = 0         THEN 11
                   WHEN ua.Last_Access IS NULL           THEN 12
                   WHEN DATEDIFF(DAY, ua.Last_Access, @Today) <= 7  THEN 13
                   WHEN DATEDIFF(DAY, ua.Last_Access, @Today) <= 29 THEN 14
                   ELSE 15 END
            , [Gold].[fn_Get_Date_Key](@Today)
            , ISNULL([Gold].[fn_Get_Date_Key](ua.First_Access), -1)
            , ISNULL([Gold].[fn_Get_Date_Key](ua.Last_Access),  -1)
            , ISNULL(ua.Days_Accessed, 0)
            , CASE WHEN ua.Last_Access IS NULL THEN NULL
                   ELSE DATEDIFF(DAY, ua.Last_Access, @Today) END
            , ISNULL(ua.Reports_Accessed, 0)
            , ISNULL(ua.Reports_Breadth, 0)
            , dc.Users_Provisioned
            , ISNULL(ua.Users_Ever_Accessed, 0)
            , CASE WHEN dc.Users_Provisioned - ISNULL(ua.Users_Ever_Accessed, 0) < 0 THEN 0
                   ELSE dc.Users_Provisioned - ISNULL(ua.Users_Ever_Accessed, 0) END
            -- ==> THE GAP. <== An ACTIVE client nobody is using: no access at all, or none for 30
            -- days. The vendor's own row is never a gap, nor is a cancelled or tenant-less client.
            -- Stored rather than left to DAX so the definition is one line and reads the same
            -- wherever it is used.
            , CASE WHEN dc.Is_Vendor = 1 OR dc.Active_Tenant_Count = 0 OR dc.Is_Cancelled = 1
                        THEN 0
                   WHEN ua.Last_Access IS NULL THEN 1
                   WHEN DATEDIFF(DAY, ua.Last_Access, @Today) >= 30 THEN 1
                   ELSE 0 END
            , ISNULL(fnx.Stages_Reached, 0)
            , SYSUTCDATETIME()
        FROM      [Gold].[Dim_Client] dc
        LEFT JOIN #ua ua  ON ua.Client_ID  = dc.bk_Client_ID
        LEFT JOIN #fn fnx ON fnx.Client_ID = dc.bk_Client_ID
        LEFT JOIN [Gold].[Dim_Sales_Status] fs
               ON fs.Status_Order = fnx.Max_Order AND fs.Status_Group = 'Funnel'
        WHERE dc.pk_Client <> -1;    -- the unknown member is a lookup target, not a client
        SET @My_Inserts = @@ROWCOUNT;

        DROP TABLE IF EXISTS #u2c;
        DROP TABLE IF EXISTS #ua;
        DROP TABLE IF EXISTS #fn;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;

    SET @Run_Inserts = @My_Inserts;
    SET @Run_Updates = @My_Updates;
    SET @Run_Deletes = @My_Deletes;
END
GO
