/****** Object:  Table [Gold].[Fact_Client_Status] ******/
-- ONE ROW PER CLIENT: where that client stands, right now.
--
-- A summary fact, not an event fact. Sales.Usage_Daily and Sales.Funnel_Event hold the detail at
-- day and event grain; this rolls them up to the grain a commercial conversation happens at. It is
-- a DROP/CREATE full rebuild like every other Gold aggregate, so it always reflects the latest
-- load rather than accumulating history. When trend is wanted, add fk_Date_Snapshot to the grain
-- and stop deleting -- the column is already here for that reason.
--
-- ==> EVERY fk RESOLVES, INCLUDING TO -1. <== Audit.usp_Check_Referential_Integrity fails the
-- build on an orphaned fact fk or a missing sentinel, so a client with no access has
-- fk_Date_Last_Access = -1 rather than NULL, and an unresolvable status points at -1.
--
-- Has_Access_Gap is the monitoring requirement made explicit: an ACTIVE client that nobody is
-- using. It is stored rather than left to DAX so that the definition is one line in one procedure
-- and the same figure appears wherever it is read. Dim_Sales_Status.Is_Gap carries the same idea
-- for the individual states.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Fact_Client_Status]
GO
CREATE TABLE [Gold].[Fact_Client_Status](
	[pk_Client_Status]            [bigint]       NOT NULL,
	[fk_Client]                   [bigint]       NOT NULL,   -- Gold.Dim_Client
	[fk_Sales_Status_Funnel]      [bigint]       NOT NULL,   -- furthest funnel stage reached
	[fk_Sales_Status_Access]      [bigint]       NOT NULL,   -- current access state
	[fk_Date_Snapshot]            [int]          NOT NULL,   -- when this row was built
	[fk_Date_First_Access]        [int]          NOT NULL,   -- -1 = never
	[fk_Date_Last_Access]         [int]          NOT NULL,   -- -1 = never
	[Days_Accessed]               [int]          NOT NULL,   -- DISTINCT days with a report open
	[Days_Since_Last_Access]      [int]              NULL,   -- NULL only when there has never been one
	[Reports_Accessed]            [bigint]       NOT NULL,   -- total embeds; see the preload caveat
	[Reports_Breadth]             [int]          NOT NULL,   -- most DIFFERENT reports in a single day
	[Users_Provisioned]           [int]          NOT NULL,
	[Users_Ever_Accessed]         [int]          NOT NULL,
	[Users_Never_Accessed]        [int]          NOT NULL,   -- provisioned minus ever-accessed
	[Has_Access_Gap]              [bit]          NOT NULL,   -- active client, nobody using it
	[Funnel_Stages_Reached]       [int]          NOT NULL,   -- how many distinct stages recorded
	[DW_Created_At]               [datetime2](3) NOT NULL
)
GO
-- Report_Opens, and therefore Reports_Accessed, is inflated up to 10x before 2026-10-02: until the
-- preload was disabled that morning every page load embedded ten reports whether or not anyone
-- looked at them. Days_Accessed and Days_Since_Last_Access are NOT affected -- a day is a day --
-- which is why they are the figures to trust across that cutover.
