--------------------------------------------------------------------
--  View   :  Gold.vw_Dim_Practitioners
--  Author :  AIH
--  Purpose:  Presentation layer over Gold.Dim_Practitioners that ADDS the Day Book
--            action counts as TEXT columns, so the practitioners dimension itself
--            carries them. This lets the Day Book diary matrix anchor its Rows on
--            List Practitioners[Full Name] (which every fact and every drill-through
--            detail page already keys on) while the counts ride along as columns on
--            the SAME table -- no second practitioner dimension, no cross-dimension
--            relationship (which would pollute filter propagation across all reports).
--
--            The counts are computed (correct build order) in the GOLD_AGG
--            Aggregate_Site_Practitioner_Current; this view SUMs them to practitioner
--            grain (the aggregate is site x practitioner and splits a person across
--            sites -- e.g. Open Plans on an unresolved -1 site row). A view joining an
--            aggregate is evaluated at model-refresh time, after the aggregate is
--            built, so there is no build-order issue (only a Dim TABLE LOAD reading
--            facts would misorder).
--
--            Meta.usp_Create_Gold_Views wraps this 1-1 into PBI.[List Practitioners]
--            and skips the table's own PBI view.
--  History:
--    *01     30/07/2026  AIH Initial release (Day Book action counts onto the
--                            practitioners dimension; retires the interim
--                            vw_Dim_Site_Practitioner_Current view).
--    *02     19/09/2026  AIH Carry Associate_Pct through for the Earnings /
--                            Contribution split on Total Revenue.
--------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP VIEW IF EXISTS [Gold].[vw_Dim_Practitioners]
GO
CREATE VIEW [Gold].[vw_Dim_Practitioners]
AS
SELECT
    dp.pk_Practitioner,
    dp.Tenant_ID,
    dp.Practitioner_ID,
    dp.User_ID,
    dp.Title,
    dp.First_Name,
    dp.Middle_Name,
    dp.Last_Name,
    dp.Full_Name,
    dp.Email,
    dp.Mobile_Phone,
    dp.Role,
    dp.Custom_Role,
    dp.FTE,
    dp.Associate_Pct,   -- *02: associate pay share, whole percent. Carried through so the
                        -- model can split revenue per practitioner off the dimension the
                        -- revenue fact already joins to -- no extra relationship.
    dp.Permission_Level,
    dp.Active,
    dp.Colour,
    dp.GDC_Number,
    dp.NHS_Number,
    dp.Site_ID,
    dp.Default_Contract_ID,
    dp.Contract_Targets_String,
    dp.Image_URL,
    dp.Last_Login_Date,
    dp.Created_Date,
    dp.Updated_Date,
    dp.Practitioner_Count,
    dp.DW_Created_At,
    dp.DW_Updated_At,
    -- Day Book action counts (summed per person from the aggregate), TEXT for the matrix Row area
    CAST(ISNULL(c.Open_Plans, 0)              AS VARCHAR(10))  AS Open_Plans,
    CAST(ISNULL(c.Cancellations_To_Rebook, 0) AS VARCHAR(10))  AS Cancellations_To_Rebook,
    CAST(ISNULL(c.DNAs_To_Rebook, 0)          AS VARCHAR(10))  AS DNAs_To_Rebook,
    CAST(ISNULL(c.Recalls_To_Action, 0)       AS VARCHAR(10))  AS Recalls_To_Action,
    CAST(c.Days_Until_Next_30_Free            AS VARCHAR(10))  AS Days_Until_Next_30_Free
FROM Gold.Dim_Practitioners dp
LEFT JOIN (
    SELECT
        fk_Practitioner,
        SUM(TRY_CAST(Open_Plans              AS INT))  AS Open_Plans,
        SUM(TRY_CAST(Cancellations_To_Rebook AS INT))  AS Cancellations_To_Rebook,
        SUM(TRY_CAST(DNAs_To_Rebook          AS INT))  AS DNAs_To_Rebook,
        SUM(TRY_CAST(Recalls_To_Action       AS INT))  AS Recalls_To_Action,
        MAX(TRY_CAST(Days_Until_Next_30_Free AS INT))  AS Days_Until_Next_30_Free
    FROM Gold.Aggregate_Site_Practitioner_Current
    WHERE fk_Practitioner > 0
    GROUP BY fk_Practitioner
) c ON c.fk_Practitioner = dp.pk_Practitioner
GO