--DECLARE @i BIGINT=0,@u BIGINT=0,@d BIGINT=0; EXEC [Gold].[usp_Load_Fact_Metric_Actuals] @Mode='PROD',@Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT;
--------------------------------------------------------------------
--  Stored Procedure :  Gold.usp_Load_Fact_Metric_Actuals
--  Author           :  AIH
--  Initital Date    :  26/06/2026
--  History          :
--    *01  26/06/2026 AIH Tier-1 cumulative (FY grain).
--    *02  27/06/2026 AIH Tier-2 FY rates (FY grain).
--    *03  28/06/2026 AIH Rebuilt at DAILY grain (fk_Date). FY grain could not
--                        serve rolling periods. One row per (Tenant, Day, Site,
--                        Practitioner, Metric) with Numerator + Denominator; the
--                        measures aggregate over the date context so EVERY period
--                        (FY, YTD, Last 3M/12M/30d, ad-hoc range) works via the
--                        Dim_Date relationship. No today-cap: the period's date
--                        filter excludes future-booked days. Sources MIRROR the
--                        live DAX (reconciliation oracle). Metrics: total/nhs/
--                        private revenue (Fact_Revenue, every Revenue Type, all grains),
--                        new_patients + 6 daily-aggregate rates (global +
--                        practitioner; aggregate fk_Site = -1).
--    *04  13/07/2026 AIH Exam Ratio scoped to DENTIST practitioners (num + den) via a
--                        dentist-only #exam aggregate; hygienist/therapist appts no longer
--                        dilute it. (HEX counts as an exam via the aggregate Exam_Count.)
--        *05     13/07/2026  AIH  Scheduling pkg: renamed old 'chair_utilisation' (scheduled/worked)
--                                 to 'diary_fill'; added ACTUAL 'chair_utilisation' (capped in-chair
--                                 Chair_Hours / Worked_Hours) + 'patient_tracked_in_surgery'
--                                 (Tracked_Appointments / Appointments), reading the new aggregate cols.
--        *06     14/07/2026  AIH  Recall model rebuild: replaced 'retention_outlook' with FORWARD
--                                 'dentist_retention_outlook' / 'hygiene_retention_outlook' (patient
--                                 recall dates due <=4wk vs Next_Exam / Next_Scale_Polish booked) and
--                                 added REACTIVE 'dentist_recall_conversion' / 'hygiene_recall_conversion'
--                                 (real recall-record Status Completed vs Missed among reminded cycles).
--                                 Old retention_outlook/overdue_recalls counted completed cycles as overdue.
--        *07     01/10/2026  AIH  Revenue metrics repointed at the WHOLE of Fact_Revenue. V197 moved
--                                 NHS out of the Invoice rows and gave it its own Revenue Type at the
--                                 UDA value, but the #inv split here still looked for NHS_Charge > 0
--                                 INSIDE Invoice -- a condition V197 made impossible. So nhs_revenue
--                                 was structurally 0.00 for every tenant, private_revenue absorbed the
--                                 lot, and total_revenue was invoice-only (no NHS, no capitation).
--                                 These now mirror the live measures exactly: total = SUM of every
--                                 Revenue Type, nhs = 'NHS', private = 'Invoice' AND NHS_Charge = 0.
--                                 Found seeding onboarding targets, where nhs_revenue came out as zero
--                                 for a practice with real NHS income. The BOARD was never affected --
--                                 [Total Revenue]/[NHS Revenue]/[Private Revenue] and everything built
--                                 on them read '_Revenue', not this fact -- so the blast radius was
--                                 target seeding and any reconciliation run against these three rows.
--  Fabric note      :  SELECT INTO + UNION ALL only (distributed mode rejects
--                      CROSS APPLY with CAST-in-VALUES and explicit CREATE TABLE #temp).
--  To Run           :  DECLARE @i BIGINT,@u BIGINT,@d BIGINT;
--                      EXEC Gold.usp_Load_Fact_Metric_Actuals @Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT
---------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [Gold].[usp_Load_Fact_Metric_Actuals]
GO
CREATE PROCEDURE [Gold].[usp_Load_Fact_Metric_Actuals]
(
      @Mode          VARCHAR(100)     = 'TEST'
    , @Logging       SMALLINT         = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;
    SET NOCOUNT ON;
    BEGIN TRY

        DELETE FROM [Gold].[Fact_Metric_Actuals];
        SET @My_Deletes = @@ROWCOUNT;

        -- ===== Revenue (Fact_Revenue) -- daily, global/site/practitioner =====
        DROP TABLE IF EXISTS #inv;

        -- ===== Plan capitation (Fact_Plan_Capitation) -- monthly (month-commencing), global/site/practitioner =====
        INSERT INTO [Gold].[Fact_Metric_Actuals]
            (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, q.site, q.prac, q.Metric, q.Num, NULL, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
            SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) site, CAST(-1 AS BIGINT) prac, 'plan_capitation_revenue' Metric, SUM(Amount) Num FROM [Gold].[Fact_Revenue] WHERE Revenue_Type = 'Capitation' GROUP BY Tenant_ID, fk_Date
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 'plan_capitation_revenue', SUM(Amount) FROM [Gold].[Fact_Revenue] WHERE Revenue_Type = 'Capitation' AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
            UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 'plan_capitation_revenue', SUM(Amount) FROM [Gold].[Fact_Revenue] WHERE Revenue_Type = 'Capitation' AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        ) q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        -- ==> READS EVERY Revenue Type, NOT JUST 'Invoice'. <== The three metrics below have to
        -- agree with the live measures, which are:
        --     [Total Revenue]   = SUM('_Revenue'[Amount])                        -- every type
        --     [NHS Revenue]     = Revenue Type = "NHS"                           -- the UDA value
        --     [Private Revenue] = Revenue Type = "Invoice" AND NHS Charge = 0
        -- Before V197 an invoice carried its NHS band charge and NHS_Charge > 0 identified it, so
        -- splitting the Invoice rows was correct. V197 stopped loading NHS invoice lines altogether
        -- and writes one 'NHS' row per claim at the contract rate instead, which makes NHS_Charge > 0
        -- unreachable within Invoice -- the old split silently produced nhs = 0 everywhere. Capitation
        -- is in 'tot' because the product's total includes it (an ESTIMATE; see Fact_Revenue), and it
        -- is ALSO emitted on its own key above -- different Metric values, so nothing double counts.
        -- ==> DO NOT CAST PER ROW. <== Amount is DECIMAL(18,6) and capitation carries real
        -- sub-penny precision (a monthly rate split across week-within-month segments -- 504k of
        -- the 594k capitation rows in dev have more than 4dp). Rounding each row to DECIMAL(18,4)
        -- here, while the capitation insert above sums the raw values, put the two on different
        -- rounding bases and total_revenue drifted from its own parts by pennies. V201's guard
        -- caught it. Rounding now happens ONCE, on INSERT into Numerator DECIMAL(18,4), which is
        -- where the capitation metric rounds too. Invoice and NHS are exact to 4dp either way.
        SELECT Tenant_ID, fk_Date AS fk_Date, fk_Practice_Site, fk_Practitioner,
            ISNULL(Amount,0) AS tot,
            CASE WHEN Revenue_Type = 'NHS' THEN ISNULL(Amount,0) ELSE 0 END AS nhs,
            CASE WHEN Revenue_Type = 'Invoice' AND ISNULL(NHS_Charge,0) = 0 THEN ISNULL(Amount,0) ELSE 0 END AS priv
        INTO #inv FROM [Gold].[Fact_Revenue] WHERE fk_Date <> -1;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
            (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, q.site, q.prac, q.Metric, q.Num, NULL, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
            SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) site, CAST(-1 AS BIGINT) prac, 'total_revenue' Metric, SUM(tot) Num FROM #inv GROUP BY Tenant_ID, fk_Date
            UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, 'nhs_revenue', SUM(nhs) FROM #inv GROUP BY Tenant_ID, fk_Date
            UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, 'private_revenue', SUM(priv) FROM #inv GROUP BY Tenant_ID, fk_Date
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 'total_revenue', SUM(tot) FROM #inv WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 'nhs_revenue', SUM(nhs) FROM #inv WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 'private_revenue', SUM(priv) FROM #inv WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
            UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 'total_revenue', SUM(tot) FROM #inv WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
            UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 'nhs_revenue', SUM(nhs) FROM #inv WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
            UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 'private_revenue', SUM(priv) FROM #inv WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        ) q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #inv;

        -- ===== New patients (daily aggregate) -- daily, global + practitioner =====
        DROP TABLE IF EXISTS #np;
        SELECT DISTINCT Tenant_ID, fk_Date, fk_Practitioner, fk_Patient
        INTO #np FROM [Gold].[Aggregate_Site_Patient_Practitioner_Daily]
        WHERE New_Patient = 1 AND fk_Patient IS NOT NULL AND fk_Date IS NOT NULL;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
            (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, -1, q.prac, 'new_patients', q.Num, NULL, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
            SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) prac, CAST(COUNT(DISTINCT fk_Patient) AS DECIMAL(18,4)) Num FROM #np GROUP BY Tenant_ID, fk_Date
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, CAST(COUNT(DISTINCT fk_Patient) AS DECIMAL(18,4)) FROM #np WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        ) q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #np;

        -- ===== Lapsed patients (Dim_Patients) -- daily, global + site + practitioner =====

        -- Flow metric: Num = patients whose lapse date fell on the day (fk_Date_Lapsed). Type A

        -- "Set as inactive" -> lapsed_deactivated; Type B "Calculated" -> lapsed_calculated. Attribution

        -- = patient's assigned site + dentist (fk resolved; -1 = all/unresolved). Denominator NULL (SUM).

        DROP TABLE IF EXISTS #lap;

        SELECT dp.Tenant_ID, dp.fk_Date_Lapsed AS fk_Date,

               ISNULL(dps.pk_Practice_Site, -1) AS fk_Practice_Site,

               ISNULL(dpr.pk_Practitioner, -1)  AS fk_Practitioner,

               ISNULL(dph.pk_Practitioner, -1)  AS fk_Practitioner_Hyg,

               CASE WHEN dp.Lapsed_Type = 'Set as inactive' THEN 'lapsed_deactivated'

                    ELSE 'lapsed_calculated' END AS Metric

        INTO #lap FROM [Gold].[Dim_Patients] dp

        LEFT JOIN [Gold].[Dim_Practice_Sites] dps ON dps.Site_ID = dp.Site_ID AND dps.Tenant_ID = dp.Tenant_ID

        LEFT JOIN [Gold].[Dim_Practitioners]  dpr ON dpr.Practitioner_ID = dp.Dentist_Practitioner_ID AND dpr.Tenant_ID = dp.Tenant_ID

        LEFT JOIN [Gold].[Dim_Practitioners]  dph ON dph.Practitioner_ID = dp.Hygienist_Practitioner_ID AND dph.Tenant_ID = dp.Tenant_ID

        WHERE dp.pk_Patient > 0 AND dp.Lapsed_Type IS NOT NULL AND dp.fk_Date_Lapsed IS NOT NULL;

        

        INSERT INTO [Gold].[Fact_Metric_Actuals]

                (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)

        SELECT q.Tenant_ID, q.fk_Date, q.site, q.prac, q.Metric, q.Num, NULL, SYSUTCDATETIME(), SYSUTCDATETIME()

        FROM (

                SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) site, CAST(-1 AS BIGINT) prac, Metric, CAST(COUNT(*) AS DECIMAL(18,4)) Num FROM #lap GROUP BY Tenant_ID, fk_Date, Metric

                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, Metric, CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap WHERE fk_Practice_Site <> -1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site, Metric

                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, Metric, CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap WHERE fk_Practitioner <> -1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner, Metric

                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner_Hyg, Metric, CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap WHERE fk_Practitioner_Hyg <> -1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner_Hyg, Metric

                -- lapsed_patients = TOTAL (both cohorts) -- the existing card's metric, now flow-based

                UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, 'lapsed_patients', CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap GROUP BY Tenant_ID, fk_Date

                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 'lapsed_patients', CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap WHERE fk_Practice_Site <> -1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site

                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 'lapsed_patients', CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap WHERE fk_Practitioner <> -1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner

                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner_Hyg, 'lapsed_patients', CAST(COUNT(*) AS DECIMAL(18,4)) FROM #lap WHERE fk_Practitioner_Hyg <> -1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner_Hyg

        )       q;

        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

        DROP TABLE IF EXISTS #lap;

        

        

        -- ===== Plan-grain rates (Fact_Treatment_Plans) -- daily, global + practitioner =====
        -- Keyed on fk_Date_Created (the plan's creation day) so any period works. Site is ALWAYS
        -- -1 (plans carry no site). Date relationship is inactive on the fact so the live cards are
        -- date-blind; this daily version reconciles to them at FULL range, period-aware below that.
        DROP TABLE IF EXISTS #tp;
        SELECT Tenant_ID, fk_Date_Created AS fk_Date, fk_Practitioner,
                CAST(Treatment_Plan_Count AS DECIMAL(18,4)) AS PlanCount,
                CAST(CASE WHEN Start_Date IS NOT NULL THEN Treatment_Plan_Count ELSE 0 END AS DECIMAL(18,4)) AS StartedCount,
                CAST(CASE WHEN Start_Date IS NOT NULL THEN 1 ELSE 0 END AS DECIMAL(18,4)) AS StartedRows,
                CAST(ISNULL(Private_Treatment_Value,0) AS DECIMAL(18,4)) AS PrivateValue
        INTO #tp FROM [Gold].[Fact_Treatment_Plans] WHERE fk_Date_Created IS NOT NULL;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
                (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, -1, q.prac, q.Metric, q.Num, q.Den, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
                SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) prac, 'acceptance_rate' Metric, SUM(StartedCount) Num, SUM(PlanCount) Den FROM #tp GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, -1, 'avg_plan_value', SUM(PrivateValue), SUM(StartedRows) FROM #tp GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'acceptance_rate', SUM(StartedCount), SUM(PlanCount) FROM #tp WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'avg_plan_value', SUM(PrivateValue), SUM(StartedRows) FROM #tp WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        )   q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #tp;

        -- ===== Revenue Per Clinical Hour (daily) -- global + practitioner =====
        -- Num = daily total revenue (Fact_Invoice_Items, invoice date); Den = clinical worked hours
        -- = SUM over (practitioner,day) of MAX(Worked_Hours) for clinical roles. Num + Den ride on
        -- rows keyed by their OWN date; DIVIDE(SUM(Num),SUM(Den)) over the period = the rate. The
        -- aggregate has no real site (fk_Site=-1) so this is global + practitioner only. Role match
        -- is LOWER() -- the warehouse collation is case-sensitive, DAX is not.
        DROP TABLE IF EXISTS #wd;
        SELECT a.Tenant_ID, a.fk_Date, a.fk_Practitioner, MAX(a.Worked_Hours) AS WH
        INTO #wd FROM [Gold].[Aggregate_Site_Patient_Practitioner_Daily] a
        JOIN [Gold].[Dim_Practitioners] p ON p.pk_Practitioner = a.fk_Practitioner AND p.Tenant_ID = a.Tenant_ID
        WHERE LOWER(p.Role) IN ('dentist','hygienist','orthodontist','specialist','therapist') AND a.fk_Date IS NOT NULL
        GROUP BY a.Tenant_ID, a.fk_Date, a.fk_Practitioner;

        DROP TABLE IF EXISTS #rev;
        SELECT Tenant_ID, fk_Date AS fk_Date, fk_Practitioner, CAST(ISNULL(Amount,0) AS DECIMAL(18,4)) AS rev
        INTO #rev FROM [Gold].[Fact_Revenue] WHERE Revenue_Type = 'Invoice' AND fk_Date <> -1;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
                (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, -1, q.prac, 'revenue_per_clinical_hour', q.Num, q.Den, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
                SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) prac, CAST(SUM(rev) AS DECIMAL(18,4)) Num, CAST(0 AS DECIMAL(18,4)) Den FROM #rev GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, SUM(rev), 0 FROM #rev WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
                UNION ALL SELECT Tenant_ID, fk_Date, -1, 0, SUM(WH) FROM #wd GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 0, SUM(WH) FROM #wd GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        )   q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #wd; DROP TABLE IF EXISTS #rev;

        -- ===== Revenue Per Dentist Hour (daily) -- global + practitioner =====
        -- As per Revenue Per Clinical Hour but restricted to the Dentally Role 'Dentist' on BOTH
        -- sides: Num = revenue attributed to dentists, Den = dentist worked hours. Excludes hygiene/
        -- therapy time AND revenue so the practice-level rate reflects dentist chair productivity
        -- without the hygienist mix tilting it. DIVIDE(SUM(Num),SUM(Den)) over the period = the rate.
        DROP TABLE IF EXISTS #wdd;
        SELECT a.Tenant_ID, a.fk_Date, a.fk_Practitioner, MAX(a.Worked_Hours) AS WH
        INTO #wdd FROM [Gold].[Aggregate_Site_Patient_Practitioner_Daily] a
        JOIN [Gold].[Dim_Practitioners] p ON p.pk_Practitioner = a.fk_Practitioner AND p.Tenant_ID = a.Tenant_ID
        WHERE LOWER(p.Role) = 'dentist' AND a.fk_Date IS NOT NULL
        GROUP BY a.Tenant_ID, a.fk_Date, a.fk_Practitioner;

        DROP TABLE IF EXISTS #revd;
        SELECT ii.Tenant_ID, ii.fk_Date AS fk_Date, ii.fk_Practitioner, CAST(ISNULL(ii.Amount,0) AS DECIMAL(18,4)) AS rev
        INTO #revd FROM [Gold].[Fact_Revenue] ii
        JOIN [Gold].[Dim_Practitioners] p ON p.pk_Practitioner = ii.fk_Practitioner AND p.Tenant_ID = ii.Tenant_ID
        WHERE ii.Revenue_Type = 'Invoice' AND ii.fk_Date <> -1 AND LOWER(p.Role) = 'dentist';

        INSERT INTO [Gold].[Fact_Metric_Actuals]
                (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, -1, q.prac, 'revenue_per_dentist_hour', q.Num, q.Den, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
                SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) prac, CAST(SUM(rev) AS DECIMAL(18,4)) Num, CAST(0 AS DECIMAL(18,4)) Den FROM #revd GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, SUM(rev), 0 FROM #revd WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
                UNION ALL SELECT Tenant_ID, fk_Date, -1, 0, SUM(WH) FROM #wdd GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 0, SUM(WH) FROM #wdd GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        )   q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #wdd; DROP TABLE IF EXISTS #revd;

        -- ===== Discounts (daily) -- global + site + practitioner =====
        -- Num = invoice Discount_Amount (Fact_Invoices); Den = total revenue (Fact_Invoice_Items);
        -- both on the invoice date. Ratio = SUM(Num)/SUM(Den) over the period.
        DROP TABLE IF EXISTS #di;
        SELECT Tenant_ID, fk_Date_Invoice AS fk_Date, fk_Practice_Site, fk_Practitioner, CAST(ISNULL(Discount_Amount,0) AS DECIMAL(18,4)) AS disc
        INTO #di FROM [Gold].[Fact_Invoices] WHERE fk_Date_Invoice IS NOT NULL;

        DROP TABLE IF EXISTS #dr;
        SELECT Tenant_ID, fk_Date AS fk_Date, fk_Practice_Site, fk_Practitioner, CAST(ISNULL(Amount,0) AS DECIMAL(18,4)) AS rev
        INTO #dr FROM [Gold].[Fact_Revenue] WHERE Revenue_Type = 'Invoice' AND fk_Date <> -1;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
                (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, q.site, q.prac, 'discounts', q.Num, q.Den, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
                SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) site, CAST(-1 AS BIGINT) prac, CAST(SUM(disc) AS DECIMAL(18,4)) Num, CAST(0 AS DECIMAL(18,4)) Den FROM #di GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, SUM(disc), 0 FROM #di WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, SUM(disc), 0 FROM #di WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
                UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, 0, SUM(rev) FROM #dr GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 0, SUM(rev) FROM #dr WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 0, SUM(rev) FROM #dr WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        )   q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #di; DROP TABLE IF EXISTS #dr;

        -- ===== Snapshot stocks (Fact_KPI_Snapshot weekly) -- latest-in-period =====
        -- Point-in-time stocks copied from the weekly KPI snapshot; the measure picks the latest
        -- snapshot date in the selected period. active/lapsed/overdue are practitioner-agnostic
        -- (live card REMOVEFILTERS practitioners) -> global + site; outstanding_invoices respects
        -- practitioner too -> global + site + practitioner. fk_Date = the snapshot's own date.
        DROP TABLE IF EXISTS #snp;
        SELECT Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, CAST(Value AS DECIMAL(18,4)) AS Value
        INTO #snp FROM [Gold].[Fact_KPI_Snapshot]
        WHERE Snapshot_Grain = 'weekly' AND Metric IN ('active_patients','outstanding_invoices') AND fk_Date IS NOT NULL;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
                (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, q.site, q.prac, q.Metric, q.Num, NULL, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
                -- patient stocks (practitioner-agnostic): per-site + global
                SELECT Tenant_ID, fk_Date, fk_Practice_Site site, CAST(-1 AS BIGINT) prac, Metric, CAST(SUM(Value) AS DECIMAL(18,4)) Num FROM #snp WHERE Metric IN ('active_patients') GROUP BY Tenant_ID, fk_Date, fk_Practice_Site, Metric
                UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, Metric, SUM(Value) FROM #snp WHERE Metric IN ('active_patients') GROUP BY Tenant_ID, fk_Date, Metric
                -- outstanding_invoices: global + site + practitioner
                UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, 'outstanding_invoices', SUM(Value) FROM #snp WHERE Metric='outstanding_invoices' GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 'outstanding_invoices', SUM(Value) FROM #snp WHERE Metric='outstanding_invoices' AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 'outstanding_invoices', SUM(Value) FROM #snp WHERE Metric='outstanding_invoices' AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        )   q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #snp;

        -- ===== Current-state metrics (date-blind 'current value') =====
        -- Each stored as ONE pre-aggregated row per grain at a sentinel date (@cur); the measures
        -- read it with REMOVEFILTERS(date) so the value is period-independent, like the live
        -- date-blind cards. Grains are whatever each source/card supports.
        DECLARE @cur BIGINT = ISNULL((SELECT MAX(fk_Date) FROM [Gold].[Fact_Metric_Actuals] WHERE Metric = 'total_revenue'), [Gold].[fn_Get_Date_Key](CAST(SYSUTCDATETIME() AS DATE)));
        DECLARE @today DATE = CAST(SYSUTCDATETIME() AS DATE);

        -- open_courses (count): incomplete, started plans -- global + practitioner (plans carry no site).
        DROP TABLE IF EXISTS #oc;
        SELECT Tenant_ID, fk_Practitioner, CAST(SUM(Treatment_Plan_Count) AS DECIMAL(18,4)) AS cnt
        INTO #oc FROM [Gold].[Fact_Treatment_Plans] WHERE Completed = 0 AND Start_Date IS NOT NULL
        GROUP BY Tenant_ID, fk_Practitioner;
        INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT Tenant_ID, @cur, -1, -1, 'open_courses', SUM(cnt), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #oc GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, -1, fk_Practitioner, 'open_courses', cnt, NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #oc WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #oc;

        -- open_courses_value: latest weekly KPI snapshot -- global + site + practitioner.
        DROP TABLE IF EXISTS #ocvd;
        SELECT Tenant_ID, MAX(fk_Date) AS mx INTO #ocvd FROM [Gold].[Fact_KPI_Snapshot] WHERE Snapshot_Grain='weekly' AND Metric='open_courses_value' GROUP BY Tenant_ID;
        DROP TABLE IF EXISTS #ocv;
        SELECT s.Tenant_ID, s.fk_Practice_Site, s.fk_Practitioner, CAST(s.Value AS DECIMAL(18,4)) AS val
        INTO #ocv FROM [Gold].[Fact_KPI_Snapshot] s JOIN #ocvd d ON d.Tenant_ID=s.Tenant_ID AND d.mx=s.fk_Date
        WHERE s.Snapshot_Grain='weekly' AND s.Metric='open_courses_value';
        INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT Tenant_ID, @cur, -1, -1, 'open_courses_value', SUM(val), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ocv GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'open_courses_value', SUM(val), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ocv WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site
        UNION ALL SELECT Tenant_ID, @cur, -1, fk_Practitioner, 'open_courses_value', SUM(val), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ocv WHERE fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Practitioner;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #ocvd; DROP TABLE IF EXISTS #ocv;

        -- open_courses_without_appt: open-plan patients with no future appointment -- global + practitioner.
        DROP TABLE IF EXISTS #opp;
        SELECT DISTINCT tp.Tenant_ID, tp.fk_Practitioner, tp.fk_Patient
        INTO #opp FROM [Gold].[Fact_Treatment_Plans] tp
        JOIN [Gold].[Dim_Patients] p ON p.pk_Patient = tp.fk_Patient AND p.Tenant_ID = tp.Tenant_ID
        WHERE tp.Completed = 0 AND tp.Start_Date IS NOT NULL AND tp.fk_Patient IS NOT NULL AND p.pk_Patient > 0
          AND (p.Next_Appointment_Date IS NULL OR p.Next_Appointment_Date <= @today);
        INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT Tenant_ID, @cur, -1, -1, 'open_courses_without_appt', CAST(COUNT(DISTINCT fk_Patient) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #opp GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, -1, fk_Practitioner, 'open_courses_without_appt', CAST(COUNT(DISTINCT fk_Patient) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #opp WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Practitioner;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #opp;

        -- email/phone details rate: Dim_Patients -- global + site (patient site via Site_ID -> pk map).
        DROP TABLE IF EXISTS #pat;
        SELECT p.Tenant_ID, ISNULL(s.pk_Practice_Site,-1) AS fk_Practice_Site, p.Patient_Count,
               CASE WHEN ISNULL(p.Active,0)=1 AND p.Email_Address IS NOT NULL THEN p.Patient_Count ELSE 0 END AS has_email,
               CASE WHEN ISNULL(p.Active,0)=1 AND (p.Mobile_Phone IS NOT NULL OR p.Home_Phone IS NOT NULL) THEN p.Patient_Count ELSE 0 END AS has_phone,

               CASE WHEN ISNULL(p.Active,0)=1 THEN p.Patient_Count ELSE 0 END AS active_count
        INTO #pat FROM [Gold].[Dim_Patients] p
        LEFT JOIN [Gold].[Dim_Practice_Sites] s ON s.Tenant_ID = p.Tenant_ID AND s.Site_ID = p.Site_ID;
        INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT Tenant_ID, @cur, -1, -1, 'email_details_rate', CAST(SUM(has_email) AS DECIMAL(18,4)), CAST(SUM(active_count) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #pat GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'email_details_rate', CAST(SUM(has_email) AS DECIMAL(18,4)), CAST(SUM(active_count) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #pat WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site
        UNION ALL SELECT Tenant_ID, @cur, -1, -1, 'phone_details_rate', CAST(SUM(has_phone) AS DECIMAL(18,4)), CAST(SUM(active_count) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #pat GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'phone_details_rate', CAST(SUM(has_phone) AS DECIMAL(18,4)), CAST(SUM(active_count) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #pat WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #pat;

        -- Dentist / Hygiene Retention Outlook (FORWARD, patient recall dates): active patients whose
                -- PATIENT recall date is within the next 4 weeks, and how many already have the matching
                -- appointment booked (Next_Exam_Date for Dentist, Next_Scale_Polish_Date for Hygiene).
                DROP TABLE IF EXISTS #ret;
                SELECT p.Tenant_ID, ISNULL(s.pk_Practice_Site,-1) AS fk_Practice_Site,
                    CASE WHEN p.Dentist_Recall_Date   BETWEEN @today AND DATEADD(day,28,@today) THEN 1 ELSE 0 END AS dent_due,
                    CASE WHEN p.Dentist_Recall_Date   BETWEEN @today AND DATEADD(day,28,@today) AND p.Next_Exam_Date        > @today THEN 1 ELSE 0 END AS dent_bk,
                    CASE WHEN p.Hygienist_Recall_Date BETWEEN @today AND DATEADD(day,28,@today) THEN 1 ELSE 0 END AS hyg_due,
                    CASE WHEN p.Hygienist_Recall_Date BETWEEN @today AND DATEADD(day,28,@today) AND p.Next_Scale_Polish_Date > @today THEN 1 ELSE 0 END AS hyg_bk
                INTO #ret FROM [Gold].[Dim_Patients] p
                LEFT JOIN [Gold].[Dim_Practice_Sites] s ON s.Tenant_ID = p.Tenant_ID AND s.Site_ID = p.Site_ID
                WHERE ISNULL(p.Active,0)=1 AND p.Last_Appointment_Date >= DATEADD(day,-730,@today);
                INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
                SELECT Tenant_ID, @cur, -1, -1, 'dentist_retention_outlook', CAST(SUM(dent_bk) AS DECIMAL(18,4)), CAST(SUM(dent_due) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ret GROUP BY Tenant_ID
                UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'dentist_retention_outlook', CAST(SUM(dent_bk) AS DECIMAL(18,4)), CAST(SUM(dent_due) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ret WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, @cur, -1, -1, 'hygiene_retention_outlook', CAST(SUM(hyg_bk) AS DECIMAL(18,4)), CAST(SUM(hyg_due) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ret GROUP BY Tenant_ID
                UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'hygiene_retention_outlook', CAST(SUM(hyg_bk) AS DECIMAL(18,4)), CAST(SUM(hyg_due) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ret WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site;
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
                DROP TABLE IF EXISTS #ret;

                -- Dentist / Hygiene Recall Conversion (REACTIVE, recall records): of recall cycles where a
                -- reminder was sent and the cycle CONCLUDED (Completed/Missed), how many Completed. Uses the
                -- REAL Dentally status (r.Status), not the due-date-derived Recall_Status.
                DROP TABLE IF EXISTS #conv;
                SELECT r.Tenant_ID, ISNULL(s.pk_Practice_Site,-1) AS fk_Practice_Site,
                    CASE WHEN r.Recall_Type LIKE '%Dentist%' THEN 1 ELSE 0 END AS is_dent,
                    CASE WHEN r.Recall_Type LIKE '%Hygien%'  THEN 1 ELSE 0 END AS is_hyg,
                    CASE WHEN r.Status = 'Completed' THEN 1 ELSE 0 END AS completed
                INTO #conv FROM [Gold].[Fact_Recalls] r
                LEFT JOIN [Gold].[Dim_Patients] p ON p.pk_Patient = r.fk_Patient AND p.Tenant_ID = r.Tenant_ID
                LEFT JOIN [Gold].[Dim_Practice_Sites] s ON s.Tenant_ID = r.Tenant_ID AND s.Site_ID = p.Site_ID
                WHERE r.Status IN ('Completed','Missed') AND ISNULL(r.Is_Reminder_Sent,0) = 1;
                INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
                SELECT Tenant_ID, @cur, -1, -1, 'dentist_recall_conversion', CAST(SUM(CASE WHEN is_dent=1 THEN completed ELSE 0 END) AS DECIMAL(18,4)), CAST(SUM(is_dent) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #conv GROUP BY Tenant_ID
                UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'dentist_recall_conversion', CAST(SUM(CASE WHEN is_dent=1 THEN completed ELSE 0 END) AS DECIMAL(18,4)), CAST(SUM(is_dent) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #conv WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, @cur, -1, -1, 'hygiene_recall_conversion', CAST(SUM(CASE WHEN is_hyg=1 THEN completed ELSE 0 END) AS DECIMAL(18,4)), CAST(SUM(is_hyg) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #conv GROUP BY Tenant_ID
                UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'hygiene_recall_conversion', CAST(SUM(CASE WHEN is_hyg=1 THEN completed ELSE 0 END) AS DECIMAL(18,4)), CAST(SUM(is_hyg) AS DECIMAL(18,4)), SYSUTCDATETIME(), SYSUTCDATETIME() FROM #conv WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site;
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
                DROP TABLE IF EXISTS #conv;

-- overdue_recalls (PRACTICE backlog): recalls that are DUE and Unbooked but the practice has NOT
                -- actioned -- no reminder sent (Is_Reminder_Sent=0). A process metric, NOT the buggy
                -- due-date-derived count. Global + site.
                DROP TABLE IF EXISTS #ovr;
                SELECT ISNULL(s.pk_Practice_Site,-1) AS fk_Practice_Site, r.Tenant_ID,
                       ISNULL(dpr.pk_Practitioner, -1) AS fk_Practitioner
                INTO #ovr FROM [Gold].[Fact_Recalls] r
                LEFT JOIN [Gold].[Dim_Patients] p       ON p.pk_Patient = r.fk_Patient AND p.Tenant_ID = r.Tenant_ID
                LEFT JOIN [Gold].[Dim_Practice_Sites] s ON s.Tenant_ID  = r.Tenant_ID  AND s.Site_ID   = p.Site_ID
                LEFT JOIN [Gold].[Dim_Practitioners] dpr ON dpr.Tenant_ID = r.Tenant_ID AND dpr.Practitioner_ID = CASE WHEN r.Recall_Type LIKE '%ygien%' THEN p.Hygienist_Practitioner_ID ELSE p.Dentist_Practitioner_ID END
                WHERE r.Status = 'Unbooked' AND ISNULL(r.Is_Reminder_Sent,0) = 0 AND r.Due_Date <= @today;
                INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
                SELECT Tenant_ID, @cur, -1, -1, 'overdue_recalls', CAST(COUNT(*) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ovr GROUP BY Tenant_ID
                UNION ALL SELECT Tenant_ID, @cur, fk_Practice_Site, -1, 'overdue_recalls', CAST(COUNT(*) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ovr WHERE fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, @cur, -1, fk_Practitioner, 'overdue_recalls', CAST(COUNT(*) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #ovr WHERE fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Practitioner;
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
                DROP TABLE IF EXISTS #ovr;

        -- active_patients per practitioner (CURRENT value only) -- attribute each active patient to
        -- their assigned dentist AND hygienist (dentist+hygienist split; the Role filter picks the
        -- right rows). Stamped at the latest weekly active_patients snapshot date so it aligns with
        -- the practice/site latest-in-period value. Historical periods stay practice/site-level only.
        DECLARE @ap_dt BIGINT = (SELECT MAX(fk_Date) FROM [Gold].[Fact_KPI_Snapshot] WHERE Snapshot_Grain = 'weekly' AND Metric = 'active_patients');
        IF @ap_dt IS NOT NULL
        BEGIN
            DROP TABLE IF EXISTS #actp;
            SELECT dp.Tenant_ID,
                   ISNULL(dpr.pk_Practitioner, -1) AS fk_Dentist,
                   ISNULL(dph.pk_Practitioner, -1) AS fk_Hygienist
            INTO #actp FROM [Gold].[Dim_Patients] dp
            LEFT JOIN [Gold].[Dim_Practitioners] dpr ON dpr.Practitioner_ID = dp.Dentist_Practitioner_ID   AND dpr.Tenant_ID = dp.Tenant_ID
            LEFT JOIN [Gold].[Dim_Practitioners] dph ON dph.Practitioner_ID = dp.Hygienist_Practitioner_ID AND dph.Tenant_ID = dp.Tenant_ID
            WHERE dp.pk_Patient > 0 AND dp.First_Appointment_Date IS NOT NULL AND dp.First_Appointment_Date <= @today
              AND (dp.Last_Appointment_Date IS NULL OR dp.Last_Appointment_Date >= DATEADD(DAY, -730, @today));
            INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
            SELECT Tenant_ID, @ap_dt, -1, fk_Dentist, 'active_patients', CAST(COUNT(*) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #actp WHERE fk_Dentist <> -1 GROUP BY Tenant_ID, fk_Dentist
            UNION ALL SELECT Tenant_ID, @ap_dt, -1, fk_Hygienist, 'active_patients', CAST(COUNT(*) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM #actp WHERE fk_Hygienist <> -1 GROUP BY Tenant_ID, fk_Hygienist;
            SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
            DROP TABLE IF EXISTS #actp;
        END

                

        -- days_until_* : current availability MIN -- global + site + practitioner.
        INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT Tenant_ID, @cur, -1, -1, 'days_until_30min_free', CAST(MIN(Days_Until_Next_30_Mins) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM [Gold].[Aggregate_Site_Practitioner_Current] GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, fk_Site, -1, 'days_until_30min_free', CAST(MIN(Days_Until_Next_30_Mins) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM [Gold].[Aggregate_Site_Practitioner_Current] WHERE fk_Site IS NOT NULL AND fk_Site<>-1 GROUP BY Tenant_ID, fk_Site
        UNION ALL SELECT Tenant_ID, @cur, -1, fk_Practitioner, 'days_until_30min_free', CAST(MIN(Days_Until_Next_30_Mins) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM [Gold].[Aggregate_Site_Practitioner_Current] WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Practitioner
        UNION ALL SELECT Tenant_ID, @cur, -1, -1, 'days_until_1hr_free', CAST(MIN(Days_Until_Next_1_Hour_Free) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM [Gold].[Aggregate_Site_Practitioner_Current] GROUP BY Tenant_ID
        UNION ALL SELECT Tenant_ID, @cur, fk_Site, -1, 'days_until_1hr_free', CAST(MIN(Days_Until_Next_1_Hour_Free) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM [Gold].[Aggregate_Site_Practitioner_Current] WHERE fk_Site IS NOT NULL AND fk_Site<>-1 GROUP BY Tenant_ID, fk_Site
        UNION ALL SELECT Tenant_ID, @cur, -1, fk_Practitioner, 'days_until_1hr_free', CAST(MIN(Days_Until_Next_1_Hour_Free) AS DECIMAL(18,4)), NULL, SYSUTCDATETIME(), SYSUTCDATETIME() FROM [Gold].[Aggregate_Site_Practitioner_Current] WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Practitioner;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

        -- ===== Deposit ratio (daily) -- global + site + practitioner =====
        -- deposit_ratio = SUM(Deposit_Amount) / total revenue. Deposit amount from the sparse
        -- Payment_Deposit set (exposed via vw_Fact_Payments), keyed on the payment date; revenue
        -- from Fact_Invoice_Items on the invoice date. Mirrors the live 'Deposit Value' card.
        DROP TABLE IF EXISTS #dep;
        SELECT Tenant_ID, fk_Date_Payment AS fk_Date, fk_Practice_Site, fk_Practitioner, CAST(ISNULL(Deposit_Amount,0) AS DECIMAL(18,4)) AS dep
        INTO #dep FROM [Gold].[vw_Fact_Payments] WHERE fk_Date_Payment IS NOT NULL;
        DROP TABLE IF EXISTS #depr;
        SELECT Tenant_ID, fk_Date AS fk_Date, fk_Practice_Site, fk_Practitioner, CAST(ISNULL(Amount,0) AS DECIMAL(18,4)) AS rev
        INTO #depr FROM [Gold].[Fact_Revenue] WHERE Revenue_Type = 'Invoice' AND fk_Date <> -1;
        INSERT INTO [Gold].[Fact_Metric_Actuals] (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, q.site, q.prac, 'deposit_ratio', q.Num, q.Den, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
                SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) site, CAST(-1 AS BIGINT) prac, CAST(SUM(dep) AS DECIMAL(18,4)) Num, CAST(0 AS DECIMAL(18,4)) Den FROM #dep GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, SUM(dep), 0 FROM #dep WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, SUM(dep), 0 FROM #dep WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
                UNION ALL SELECT Tenant_ID, fk_Date, -1, -1, 0, SUM(rev) FROM #depr GROUP BY Tenant_ID, fk_Date
                UNION ALL SELECT Tenant_ID, fk_Date, fk_Practice_Site, -1, 0, SUM(rev) FROM #depr WHERE fk_Practice_Site IS NOT NULL AND fk_Practice_Site<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practice_Site
                UNION ALL SELECT Tenant_ID, fk_Date, -1, fk_Practitioner, 0, SUM(rev) FROM #depr WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner
        )   q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #dep; DROP TABLE IF EXISTS #depr;

        -- ===== FY-period rates (daily aggregate) -- daily, global + practitioner =====
        DROP TABLE IF EXISTS #agg;
        SELECT Tenant_ID, fk_Date, fk_Practitioner,
            CAST(ISNULL(Appointments,0)               AS DECIMAL(18,4)) Appointments,
            CAST(ISNULL(DNA_Appointments,0)           AS DECIMAL(18,4)) DNA_Appointments,
            CAST(ISNULL(BBYL_Appointments,0)          AS DECIMAL(18,4)) BBYL_Appointments,
            CAST(ISNULL(Cancelled_Appointments,0)     AS DECIMAL(18,4)) Cancelled_Appointments,
            CAST(ISNULL(Short_Notice_Cancellations,0) AS DECIMAL(18,4)) Short_Notice_Cancellations,
            CAST(ISNULL(Exam_Count,0)                 AS DECIMAL(18,4)) Exam_Count,
            CAST(ISNULL(Appointment_Hours,0)          AS DECIMAL(18,4)) Appointment_Hours,
            CAST(ISNULL(Worked_Hours,0)               AS DECIMAL(18,4)) Worked_Hours, CAST(ISNULL(Chair_Hours,0) AS DECIMAL(18,4)) Chair_Hours, CAST(ISNULL(Tracked_Appointments,0) AS DECIMAL(18,4)) Tracked_Appointments
        INTO #agg FROM [Gold].[Aggregate_Site_Patient_Practitioner_Daily] WHERE fk_Date IS NOT NULL;

        DROP TABLE IF EXISTS #wh;
        SELECT Tenant_ID, fk_Date, fk_Practitioner, MAX(Worked_Hours) AS WH
        INTO #wh FROM #agg GROUP BY Tenant_ID, fk_Date, fk_Practitioner;

        DROP TABLE IF EXISTS #cg;
        SELECT Tenant_ID, fk_Date, SUM(DNA_Appointments) dna, SUM(BBYL_Appointments) bbyl,
               SUM(Cancelled_Appointments) canc, SUM(Short_Notice_Cancellations) sn,
               SUM(Exam_Count) exam, SUM(Appointments) appts, SUM(Appointment_Hours) apph, SUM(Chair_Hours) chair, SUM(Tracked_Appointments) trk
        INTO #cg FROM #agg GROUP BY Tenant_ID, fk_Date;
        DROP TABLE IF EXISTS #whg;
        SELECT Tenant_ID, fk_Date, SUM(WH) whrs INTO #whg FROM #wh GROUP BY Tenant_ID, fk_Date;
        DROP TABLE IF EXISTS #cp;
        SELECT Tenant_ID, fk_Date, fk_Practitioner, SUM(DNA_Appointments) dna, SUM(BBYL_Appointments) bbyl,
               SUM(Cancelled_Appointments) canc, SUM(Short_Notice_Cancellations) sn,
               SUM(Exam_Count) exam, SUM(Appointments) appts, SUM(Appointment_Hours) apph, SUM(Chair_Hours) chair, SUM(Tracked_Appointments) trk
        INTO #cp FROM #agg WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1
        GROUP BY Tenant_ID, fk_Date, fk_Practitioner;
        DROP TABLE IF EXISTS #whp;
        SELECT Tenant_ID, fk_Date, fk_Practitioner, SUM(WH) whrs INTO #whp FROM #wh
        WHERE fk_Practitioner IS NOT NULL AND fk_Practitioner<>-1 GROUP BY Tenant_ID, fk_Date, fk_Practitioner;

        -- Exam Ratio is a DENTIST metric: scope exam + appts to Dentist practitioners only
        -- (both numerator and denominator), so hygienist/therapist appts don't dilute it. (*04)
        DROP TABLE IF EXISTS #exam;
        SELECT a.Tenant_ID, a.fk_Date, a.fk_Practitioner, SUM(a.Exam_Count) exam, SUM(a.Appointments) appts
        INTO #exam FROM #agg a
        JOIN [Gold].[Dim_Practitioners] p ON p.pk_Practitioner=a.fk_Practitioner AND p.Tenant_ID=a.Tenant_ID
        WHERE LOWER(p.Role)='dentist' AND a.fk_Practitioner IS NOT NULL AND a.fk_Practitioner<>-1
        GROUP BY a.Tenant_ID, a.fk_Date, a.fk_Practitioner;

        INSERT INTO [Gold].[Fact_Metric_Actuals]
            (Tenant_ID, fk_Date, fk_Practice_Site, fk_Practitioner, Metric, Numerator, Denominator, DW_Created_At, DW_Updated_At)
        SELECT q.Tenant_ID, q.fk_Date, -1, q.prac, q.Metric, q.Num, q.Den, SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM (
            SELECT Tenant_ID, fk_Date, CAST(-1 AS BIGINT) prac, 'dna_rate' Metric, dna Num, appts Den FROM #cg
            UNION ALL SELECT Tenant_ID, fk_Date, -1, 'book_before_you_leave', bbyl, appts FROM #cg
            UNION ALL SELECT Tenant_ID, fk_Date, -1, 'cancellation_frequency', canc, appts FROM #cg
            UNION ALL SELECT Tenant_ID, fk_Date, -1, 'short_notice_cancellation_rate', sn, canc FROM #cg
            UNION ALL SELECT Tenant_ID, fk_Date, -1, 'exam_ratio', SUM(exam), SUM(appts) FROM #exam GROUP BY Tenant_ID, fk_Date
            UNION ALL SELECT g.Tenant_ID, g.fk_Date, -1, 'diary_fill', g.apph, w.whrs FROM #cg g JOIN #whg w ON w.Tenant_ID=g.Tenant_ID AND w.fk_Date=g.fk_Date
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'dna_rate', dna, appts FROM #cp
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'book_before_you_leave', bbyl, appts FROM #cp
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'cancellation_frequency', canc, appts FROM #cp
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'short_notice_cancellation_rate', sn, canc FROM #cp
            UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'exam_ratio', exam, appts FROM #exam
            UNION ALL SELECT p.Tenant_ID, p.fk_Date, p.fk_Practitioner, 'diary_fill', p.apph, w.whrs FROM #cp p JOIN #whp w ON w.Tenant_ID=p.Tenant_ID AND w.fk_Date=p.fk_Date AND w.fk_Practitioner=p.fk_Practitioner
                        UNION ALL SELECT g.Tenant_ID, g.fk_Date, -1, 'chair_utilisation', g.chair, w.whrs FROM #cg g JOIN #whg w ON w.Tenant_ID=g.Tenant_ID AND w.fk_Date=g.fk_Date
                        UNION ALL SELECT Tenant_ID, fk_Date, -1, 'patient_tracked_in_surgery', trk, appts FROM #cg
                        UNION ALL SELECT p.Tenant_ID, p.fk_Date, p.fk_Practitioner, 'chair_utilisation', p.chair, w.whrs FROM #cp p JOIN #whp w ON w.Tenant_ID=p.Tenant_ID AND w.fk_Date=p.fk_Date AND w.fk_Practitioner=p.fk_Practitioner
                        UNION ALL SELECT Tenant_ID, fk_Date, fk_Practitioner, 'patient_tracked_in_surgery', trk, appts FROM #cp
        ) q;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
        DROP TABLE IF EXISTS #agg; DROP TABLE IF EXISTS #wh; DROP TABLE IF EXISTS #cg;
        DROP TABLE IF EXISTS #whg; DROP TABLE IF EXISTS #cp; DROP TABLE IF EXISTS #whp;

        SET @Run_Inserts = @My_Inserts;
        SET @Run_Updates = @My_Updates;
        SET @Run_Deletes = @My_Deletes;
    END TRY
    BEGIN CATCH
        SET @Run_Inserts = @My_Inserts;
        SET @Run_Updates = @My_Updates;
        SET @Run_Deletes = @My_Deletes;
        ;THROW;
    END CATCH
END
GO
