/****** Object:  Table [Gold].[Dim_Client] ******/
-- The COMMERCIAL entity, which is not the same thing as a tenant.
--
-- Security.Clients is the operational source (Client_ID, Client_Name) and Audit.Tenants.Client_ID
-- is the link to practice data. A client may hold several tenants; Analytically itself is a client
-- (Client_ID 1) with access to every practice, which is why Is_Vendor exists here rather than
-- being inferred from an email domain further downstream.
--
-- ==> DERIVED, NOT AN EXTENSION OF Security.Clients. <== Adding sales attributes to that table
-- would mix commercial reporting into the access-control path that RLS reads, and a mistake there
-- is a data leak rather than a wrong number. The dimension carries everything the monitor needs
-- and Security.Clients stays a two-column identity table.
--
-- Billing attributes are folded in from Billing.Account_Billing, which is keyed by TENANT. For a
-- client holding one tenant that is unambiguous; for a multi-tenant client the earliest Access_From
-- and the earliest Paid_From are taken, because the commercial relationship starts when the first
-- practice does. Revisit when a group with staggered billing actually exists.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Dim_Client]
GO
CREATE TABLE [Gold].[Dim_Client](
	[pk_Client]               [bigint]        NOT NULL,
	[bk_Client_ID]            [int]           NOT NULL,   -- Security.Clients.Client_ID
	[Client_Name]             [VARCHAR](255)      NULL,
	[Client_Email]            [VARCHAR](256)      NULL,   -- the address they enquired with
	[Email_Domain]            [VARCHAR](255)      NULL,
	[fk_Date_First_Contact]   [int]           NOT NULL,   -- when they asked for a code; -1 if seeded
	[Is_Prospect]             [bit]           NOT NULL,   -- DERIVED: no tenant yet. Not stored upstream,
	                                                      -- so it cannot go stale at conversion.
	[Is_Vendor]               [bit]           NOT NULL,   -- Analytically's own client row
	[Is_Demo]                 [bit]           NOT NULL,   -- the demonstration practice
	[Tenant_Count]            [int]           NOT NULL,
	[Active_Tenant_Count]     [int]           NOT NULL,   -- Audit.Tenants.Is_Active = 1
	[Users_Provisioned]       [int]           NOT NULL,   -- Security.Application_Users rows
	[fk_Date_Access_From]     [int]           NOT NULL,   -- earliest Billing.Account_Billing.Access_From
	[fk_Date_Paid_From]       [int]           NOT NULL,
	[Is_Free_Forever]         [bit]           NOT NULL,   -- Paid_From = 2100-01-01, the sentinel
	[Is_Cancelled]            [bit]           NOT NULL,
	[Has_Stripe_Customer]     [bit]           NOT NULL,   -- a customer record exists; NOT that a card does
	[DW_Created_At]           [datetime2](3)  NOT NULL,
	[DW_Updated_At]           [datetime2](3)      NULL
)
GO
