/****** Object:  Table [Gold].[Dim_Sales_Status] ******/
-- Encapsulates every state a client can be in, so no measure has to hard-code a string.
--
-- TWO GROUPS IN ONE DIMENSION, separated by Status_Group:
--   Funnel  how far a prospect/client got      challenge_sent .. invoice_paid
--   Access  whether they are actually using it  never_accessed .. active
--
-- One dimension rather than two because the fact needs both roles against the same lookup and a
-- single conformed status list is what stops "dormant" meaning one thing in a measure and another
-- in a report. Status_Order sorts each group without a second table.
--
-- ==> Is_Gap IS THE POINT OF THIS TABLE. <== It marks the states that need someone to act: a
-- client who is ACTIVE but has never signed in, or has gone quiet. Monitoring gaps was the
-- requirement; encoding "which states are a problem" as data means the definition lives in one
-- row rather than in every measure that asks the question.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Dim_Sales_Status]
GO
CREATE TABLE [Gold].[Dim_Sales_Status](
	[pk_Sales_Status]     [bigint]       NOT NULL,
	[bk_Status_Code]      [VARCHAR](40)  NOT NULL,   -- stable code; measures match on this, not the name
	[Status_Name]         [VARCHAR](80)  NOT NULL,
	[Status_Group]        [VARCHAR](10)  NOT NULL,   -- 'Funnel' | 'Access'
	[Status_Order]        [smallint]     NOT NULL,   -- sort within the group
	[Is_Gap]              [bit]          NOT NULL,   -- 1 = needs attention
	[Is_Terminal]         [bit]          NOT NULL,   -- 1 = end state (paid, or cancelled)
	[Status_Description]  [VARCHAR](400)     NULL,
	[DW_Created_At]       [datetime2](3) NOT NULL
)
GO
