--------------------------------------------------------------------
--  View   :  Gold.vw_Effectively_Active_Patients
--  Author :  AIH
--  Purpose:  The ONE definition of a patient who still uses the practice.
--
--            Dentally's Active flag is a statement of intent, not evidence: on tenant 100,
--            1,019 of 7,011 "active" patients had not attended for two years. Left alone they
--            padded every Day Book action count -- stale names on lists the practice is meant
--            to work through, which is what made the counts look wrong.
--
--            Effectively active = the Active flag AND an ATTENDED appointment within 2 years.
--            Attendance, not booking: someone who only ever cancels or DNAs is not an active
--            patient, and it was exactly those people clogging the to-rebook lists. The
--            Is_Cancelled / Is_DNA guards drop the ~100 rows that carry a Completed_At yet are
--            also flagged cancelled or DNA (Is_Completed alone is just "Completed_At IS NOT
--            NULL", so it does not exclude them).
--
--            A VIEW rather than a stored column because the answer is TIME-dependent: a patient
--            crosses the 2-year line with no data changing at all. Anything materialised at
--            build time is stale by the next morning; a view is always evaluated as at now.
--            Gold stays delta-loaded; this sort of derived aggregation is supplied on read.
--
--            BACK-END ONLY. Meta.usp_Create_Gold_Views turns every Gold view into a PBI view,
--            so this name is excluded there (same treatment as vw_Dim_Date) -- Power BI has no
--            use for a bare list of patient keys.
--
--  Used by:  Gold.usp_Load_Aggregate_Site_Practitioner_Current  (the four Day Book tiles)
--            Gold.Dim_Patient_Data_Quality                      (orphaned-practitioner rows)
--  History:
--    *01     15/09/2026  AIH Initial release. Consolidates three different patient rules that
--                            had drifted apart across the Day Book tiles and V153.
--------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP VIEW IF EXISTS [Gold].[vw_Effectively_Active_Patients]
GO
CREATE VIEW [Gold].[vw_Effectively_Active_Patients]
AS
SELECT
    p.pk_Patient,
    p.Tenant_ID
FROM Gold.Dim_Patients p
WHERE p.Active = 1
  AND p.pk_Patient > 0
  AND EXISTS (
        SELECT 1
        FROM Gold.Fact_Appointments a
        WHERE a.fk_Patient    = p.pk_Patient
          AND a.Tenant_ID     = p.Tenant_ID
          AND a.Completed_At IS NOT NULL
          AND a.Is_Cancelled  = 0
          AND a.Is_DNA        = 0
          AND a.Start_Time   >= DATEADD(YEAR, -2, CAST(SYSUTCDATETIME() AS DATE))
  )
GO
