/****** Object:  View [Gold].[vw_Dim_Date]    Script Date: 08/01/2026 ******/
-- Per-tenant date dimension: Dim_Date with the PRACTICE financial year (set by each tenant's
-- Input.Practice_Config.FY_Start_Month, default 4=April) overlaid onto Financial_Year /
-- Financial_Year_Name / Financial_Day_Of_Year, using END/LABEL-year labelling ("FYyy"). The raw
-- Apr-Mar NHS year is preserved as NHS_Financial_Year / NHS_Financial_Year_Name (NHS never moves).
-- Financial_Year is the END year; Financial_Year_Name spells the SPAN ("FY26/27") whenever the
-- practice year is not the calendar year, because the end year alone reads as a future period.
-- One row per date PER active tenant (RLS by Tenant_ID collapses it to one row per date per user).
-- Meta.usp_Create_Gold_Views turns this into PBI.[List Date], superseding the Dim_Date view, so the
-- model's date table (and every measure using [Financial Year]) becomes practice-FY automatically.
CREATE OR ALTER VIEW [Gold].[vw_Dim_Date] AS
WITH ten AS (
    SELECT t.Tenant_ID, ISNULL(pc.FY_Start_Month, 4) AS M
    FROM   [Audit].[Tenants] t
    LEFT JOIN [Input].[Practice_Config] pc ON pc.Tenant_ID = t.Tenant_ID
    WHERE  t.Is_Active = 1
)
SELECT
    ten.Tenant_ID,
    d.pk_Date, d.Full_Date, d.Day_Name, d.Day_Of_Week, d.Day_Of_Month, d.Day_Of_Year,
    d.Week_Of_Year, d.Week_Of_Month, d.Calendar_Year_Week, d.Week_Commencing_Date, d.Week_Ending_Date,
    d.Month_Number, d.Month_Name, d.Month_Name_Short, d.Month_Year, d.Month_Commencing_Date, d.Month_Ending_Date,
    d.Calendar_Quarter, d.Calendar_Quarter_Name, d.Calendar_Year, d.Calendar_Year_Month, d.Calendar_Year_Quarter,
    d.Relative_Day, d.Relative_Week, d.Relative_Month, d.Relative_Quarter, d.Relative_Year,
    d.Recency_Band, d.Recency_Band_Sort,
    -- PRACTICE financial year (end/label year), from the tenant's FY start month:
    (YEAR(d.Full_Date) + CASE WHEN ten.M > 1 AND MONTH(d.Full_Date) >= ten.M THEN 1 ELSE 0 END) AS Financial_Year,
    -- ==> A YEAR THAT SPANS TWO CALENDAR YEARS HAS TO SAY SO. <== Financial_Year above is the
    -- END year, which is unambiguous to join on and badly misleading to read: an April practice
    -- sitting in September 2026 is in the year ending March 2027, so a bare "FY27" labels the
    -- CURRENT period with a year that has not started. It is the string on the period slicer, so
    -- that is what the practice reads. An April year is therefore FY26/27, and only a January
    -- year -- where start and end are the same -- keeps the single "FY26".
    CASE WHEN ten.M = 1
         THEN 'FY' + RIGHT(CAST(YEAR(d.Full_Date) AS VARCHAR(4)), 2)
         ELSE 'FY' + RIGHT(CAST(YEAR(d.Full_Date) + CASE WHEN MONTH(d.Full_Date) >= ten.M THEN  0 ELSE -1 END AS VARCHAR(4)), 2)
            + '/' + RIGHT(CAST(YEAR(d.Full_Date) + CASE WHEN MONTH(d.Full_Date) >= ten.M THEN  1 ELSE  0 END AS VARCHAR(4)), 2)
    END AS Financial_Year_Name,
    d.Financial_Quarter, d.Financial_Quarter_Name, d.Financial_Month, d.Financial_Month_Name, d.Financial_Week,
    -- practice day-of-year (for YoY pairing), relative to the tenant's FY start:
    (DATEDIFF(DAY,
        CASE WHEN ten.M = 1 THEN DATEFROMPARTS(YEAR(d.Full_Date), 1, 1)
             WHEN MONTH(d.Full_Date) >= ten.M THEN DATEFROMPARTS(YEAR(d.Full_Date), ten.M, 1)
             ELSE DATEFROMPARTS(YEAR(d.Full_Date) - 1, ten.M, 1) END,
        d.Full_Date) + 1) AS Financial_Day_Of_Year,
    d.Relative_Financial_Day, d.Relative_Financial_Week, d.Relative_Financial_Month,
    d.Relative_Financial_Quarter, d.Relative_Financial_Year,
    d.Is_Weekend, d.Is_Leap_Year, d.Is_England_Wales_Bank_Holiday, d.Is_Scotland_Bank_Holiday, d.Is_Working_Day_England,
    -- NHS financial year (always Apr-Mar; the raw Dim_Date values, start-year convention, untouched):
    d.Financial_Year      AS NHS_Financial_Year,
    d.Financial_Year_Name AS NHS_Financial_Year_Name
FROM [Gold].[Dim_Date] d
CROSS JOIN ten
GO
