-- DECLARE @i BIGINT=0, @u BIGINT=0, @d BIGINT=0; EXEC [Gold].[usp_Load_Fact_New_Patients] @Mode='PROD', @Run_Inserts=@i OUT, @Run_Updates=@u OUT, @Run_Deletes=@d OUT;
----------------------------------------------------------------------------------------------------
--   Stored Procedure : Gold.usp_Load_Fact_New_Patients
--   Author           : AIH
--   Intitial Date    : 01/08/2026
--   History          :
--       *01          01/08/2026  AIH  Initial Release
--
--   Purpose          : Materialises one row per NEW patient (First_Appointment_Date known), cohort-
--                      dated by that first appointment, carrying the two display-only Clinical metrics:
--                        - First_Plan_Value : SUM of Private Treatment Value across the DISTINCT
--                          treatment plans linked (via Fact_Treatment_Appointments) to the patient's
--                          FIRST appointment. NULL when no plan was created at the first appointment.
--                        - Has_First_Plan   : 1 when a plan was created at the first appointment.
--                        - Retained         : 1 when the patient returned for a SECOND exam EVER
--                          (Last_Exam_Date > First_Exam_Date). "Ever returned" -- no window.
--                        - fk_Practitioner  : the clinician of the first appointment (earliest slot).
--                      Full rebuild (DROP/CREATE). GOLD_AGG -- reads other Gold facts/dims.
--
--   Dependencies     : Gold Dim_Patients / Dim_Date / Fact_Appointments / Fact_Treatment_Appointments /
--                      Fact_Treatment_Plans.
--
--   To Run           : DECLARE @Run_Inserts BIGINT, @Run_Updates BIGINT, @Run_Deletes BIGINT;
--                      EXEC Gold.usp_Load_Fact_New_Patients
--                           @Run_Inserts=@Run_Inserts OUT, @Run_Updates=@Run_Updates OUT, @Run_Deletes=@Run_Deletes OUT
----------------------------------------------------------------------------------------------------
/****** Object:  StoredProcedure [Gold].[usp_Load_Fact_New_Patients]    Script Date: 08/01/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [Gold].[usp_Load_Fact_New_Patients]
GO
CREATE PROCEDURE [Gold].[usp_Load_Fact_New_Patients]
(
        @Mode           VARCHAR(100)     = 'TEST'
    ,   @Logging        SMALLINT         = 1
    ,   @Run_UUID       UNIQUEIDENTIFIER = NULL
    ,   @Run_Inserts    BIGINT OUT
    ,   @Run_Updates    BIGINT OUT
    ,   @Run_Deletes    BIGINT OUT
)
AS
BEGIN
        DECLARE @My_Inserts BIGINT = 0;
        DECLARE @My_Updates BIGINT = 0;
        DECLARE @My_Deletes BIGINT = 0;
        SET NOCOUNT ON;
        BEGIN TRY
                --*********************************
                --****  Procedure logic starts ****
                --*********************************

                DROP TABLE IF EXISTS [Gold].[Fact_New_Patients];

                CREATE TABLE [Gold].[Fact_New_Patients] (
                        [pk_New_Patient]              BIGINT IDENTITY NOT NULL,
                        [Tenant_ID]                   INT             NOT NULL,
                        [bk_Patient_ID]               INT             NOT NULL,
                        [fk_Patient]                  BIGINT          NOT NULL,
                        [fk_Practitioner]             BIGINT          NOT NULL,
                        [fk_Date_First_Appointment]   BIGINT          NOT NULL,
                        [fk_Payment_Plan]             BIGINT                     NOT NULL,
                        [First_Plan_Value]            DECIMAL(18, 4)  NULL,
                        [Has_First_Plan]              INT             NOT NULL,
                        [Retained]                    INT             NOT NULL,
                        [New_Patient_Count]           INT             NOT NULL,
                        [DW_Created_At]               DATETIME2(3)    NOT NULL
                );

                WITH np AS (
                        -- the new-patient universe: everyone with a known first appointment date
                        SELECT p.Tenant_ID, p.Patient_ID, p.pk_Patient,
                               p.First_Appointment_Date, p.First_Exam_Date, p.Last_Exam_Date, p.Payment_Plan_ID
                        FROM   [Gold].[Dim_Patients] p
                        WHERE  p.First_Appointment_Date IS NOT NULL
                          AND  p.pk_Patient > 0
                ),
                np_key AS (
                        -- resolve the cohort date surrogate (Dim_Date pk for the first appointment)
                        SELECT np.*, dd.pk_Date AS fk_Date_First_Appt
                        FROM   np
                        LEFT JOIN [Gold].[Dim_Date] dd ON dd.Full_Date = np.First_Appointment_Date
                ),
                first_prac AS (
                        -- clinician of the first appointment: earliest slot on the first-appointment date
                        SELECT fa.fk_Patient, fa.fk_Practitioner,
                               ROW_NUMBER() OVER (PARTITION BY fa.fk_Patient
                                                  ORDER BY fa.Start_Time, fa.pk_Appointment) AS rn
                        FROM   [Gold].[Fact_Appointments] fa
                        JOIN   np_key k ON k.pk_Patient = fa.fk_Patient
                                       AND fa.fk_Date_Start = k.fk_Date_First_Appt
                ),
                first_plans AS (
                        -- DISTINCT treatment plans linked (via Treatment_Appointments) to the first appointment
                        SELECT DISTINCT ta.fk_Patient, ta.fk_Treatment_Plan
                        FROM   [Gold].[Fact_Treatment_Appointments] ta
                        JOIN   np_key k ON k.pk_Patient = ta.fk_Patient
                                       AND ta.fk_Date_Appointment = k.fk_Date_First_Appt
                        WHERE  ta.fk_Treatment_Plan IS NOT NULL
                          AND  ta.fk_Treatment_Plan > 0
                ),
                plan_val AS (
                        -- per patient: count + total Private Treatment Value across those distinct plans
                        SELECT fp.fk_Patient,
                               COUNT(*)                                         AS plan_cnt,
                               SUM(ISNULL(tp.Private_Treatment_Value, 0))       AS plan_value
                        FROM   first_plans fp
                        LEFT JOIN [Gold].[Fact_Treatment_Plans] tp
                               ON tp.fk_Treatment_Plan = fp.fk_Treatment_Plan
                        GROUP BY fp.fk_Patient
                )
                INSERT INTO [Gold].[Fact_New_Patients]
                        (Tenant_ID, bk_Patient_ID, fk_Patient, fk_Practitioner, fk_Date_First_Appointment, fk_Payment_Plan,
                         First_Plan_Value, Has_First_Plan, Retained, New_Patient_Count, DW_Created_At)
                SELECT  k.Tenant_ID, k.Patient_ID, k.pk_Patient,
                        ISNULL(fpr.fk_Practitioner, -1),
                        ISNULL(k.fk_Date_First_Appt, -1),
                        ISNULL(dpp.pk_Payment_Plan, -1),
                        CASE WHEN pv.plan_cnt >= 1 THEN pv.plan_value ELSE NULL END,
                        CASE WHEN pv.plan_cnt >= 1 THEN 1 ELSE 0 END,
                        CASE WHEN k.Last_Exam_Date > k.First_Exam_Date THEN 1 ELSE 0 END,
                        1,
                        SYSUTCDATETIME()
                FROM    np_key k
                LEFT JOIN first_prac fpr ON fpr.fk_Patient = k.pk_Patient AND fpr.rn = 1
                LEFT JOIN plan_val  pv  ON pv.fk_Patient  = k.pk_Patient
                                LEFT JOIN [Gold].[Dim_Payment_Plans] dpp ON dpp.Tenant_ID = k.Tenant_ID AND dpp.Payment_Plan_ID = k.Payment_Plan_ID;

                SET @My_Inserts = @@ROWCOUNT;

                --*********************************
                --****  Procedure logic ends   ****
                --*********************************

        END TRY

        BEGIN CATCH
                THROW;
        END CATCH;

        SET @Run_Inserts = @My_Inserts;
        SET @Run_Updates = @My_Updates;
        SET @Run_Deletes = @My_Deletes;

END
GO
