--DECLARE @i BIGINT=0,@u BIGINT=0,@d BIGINT=0; EXEC [Gold].[usp_Load_Fact_Daily_Targets] @Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT;
--------------------------------------------------------------------
--  Stored Procedure :  Gold.usp_Load_Fact_Daily_Targets
--  Author           :  AIH
--  History          :
--    *01-*07 (2026-05) old Site/Practitioner/Period model -- superseded.
--    *08     14/07/2026  AIH REWRITE for target-model rewrite. Reads the reshaped Input.Targets
--                            (FY/Metric/Target_Level) + Input.Metric_Variance + NHS contracts.
--                            Grain = (Tenant, fk_Date, Metric, Target_Level). Daily = cumulative ?
--                            annual/working-days : annual. Annual carried for rate/point metrics.
--  To Run           :  DECLARE @Run_Inserts BIGINT,@Run_Updates BIGINT,@Run_Deletes BIGINT; EXEC Gold.usp_Load_Fact_Daily_Targets @Run_Inserts=@Run_Inserts OUT,@Run_Updates=@Run_Updates OUT,@Run_Deletes=@Run_Deletes OUT
---------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [Gold].[usp_Load_Fact_Daily_Targets]
GO
CREATE PROCEDURE [Gold].[usp_Load_Fact_Daily_Targets]
(
      @Mode          VARCHAR(100)     = 'TEST'
    , @Logging       SMALLINT         = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;
    SET NOCOUNT ON;
    BEGIN TRY
        -- working days per financial year (Mon-Fri excl. England/Wales bank holidays)
        SELECT Financial_Year AS FY, COUNT(*) AS Working_Days
        INTO #wd
        FROM [Gold].[Dim_Date]
        WHERE Is_Weekend = 0 AND Is_England_Wales_Bank_Holiday = 0
        GROUP BY Financial_Year;

        -- candidate targets per (Tenant, FY, Metric, Target_Level). Priority 1 = owner target;
        -- Priority 2 = NHS contract UDA/UOA (Practice level).
        SELECT
            t.Tenant_ID, t.FY, t.Metric, t.Target_Level,
            CAST(CASE WHEN cmd.Target_Type = 'cumulative'
                      THEN t.Target_Value / CAST(w.Working_Days AS DECIMAL(18,4))
                      ELSE t.Target_Value END AS DECIMAL(18,6)) AS Daily_Target_Value,
            CAST(t.Target_Value AS DECIMAL(18,4))               AS Annual_Target_Value,
            mv.Variance,
            1 AS Priority
        INTO #cand
        FROM [Input].[Targets] t
        INNER JOIN [Config].[Metric_Definitions] cmd ON cmd.Metric_Key = t.Metric
        INNER JOIN #wd w ON w.FY = t.FY
        LEFT JOIN [Input].[Metric_Variance] mv ON mv.Tenant_ID = t.Tenant_ID AND mv.Metric = t.Metric

        UNION ALL
        SELECT fc.Tenant_ID, w.FY, 'nhs_udas', 'Practice',
            CAST(fc.UDA_Target / CAST(w.Working_Days AS DECIMAL(18,4)) AS DECIMAL(18,6)),
            CAST(fc.UDA_Target AS DECIMAL(18,4)),
            mv.Variance, 2
        FROM [Gold].[Fact_Contracts] fc
        INNER JOIN #wd w ON w.FY >= YEAR(fc.Start_Date)
            AND w.FY <= CASE WHEN MONTH(fc.End_Date) <= 3 THEN YEAR(fc.End_Date) - 1 ELSE YEAR(fc.End_Date) END
        LEFT JOIN [Input].[Metric_Variance] mv ON mv.Tenant_ID = fc.Tenant_ID AND mv.Metric = 'nhs_udas'
        WHERE fc.UDA_Target > 0

        UNION ALL
        SELECT fc.Tenant_ID, w.FY, 'nhs_uoas', 'Practice',
            CAST(fc.UOA_Target / CAST(w.Working_Days AS DECIMAL(18,4)) AS DECIMAL(18,6)),
            CAST(fc.UOA_Target AS DECIMAL(18,4)),
            mv.Variance, 2
        FROM [Gold].[Fact_Contracts] fc
        INNER JOIN #wd w ON w.FY >= YEAR(fc.Start_Date)
            AND w.FY <= CASE WHEN MONTH(fc.End_Date) <= 3 THEN YEAR(fc.End_Date) - 1 ELSE YEAR(fc.End_Date) END
        LEFT JOIN [Input].[Metric_Variance] mv ON mv.Tenant_ID = fc.Tenant_ID AND mv.Metric = 'nhs_uoas'
        WHERE fc.UOA_Target > 0;

        -- highest-priority target per (Tenant, FY, Metric, Target_Level)
        SELECT Tenant_ID, FY, Metric, Target_Level, Daily_Target_Value, Annual_Target_Value, Variance
        INTO #best
        FROM (
            SELECT *, ROW_NUMBER() OVER (PARTITION BY Tenant_ID, FY, Metric, Target_Level ORDER BY Priority) AS rn
            FROM #cand
        ) x
        WHERE rn = 1;

        -- full reload: one row per working day per resolved target
        DELETE FROM [Gold].[Fact_Daily_Targets];
        SET @My_Deletes = @@ROWCOUNT;

        INSERT INTO [Gold].[Fact_Daily_Targets]
            (Tenant_ID, fk_Date, Metric, Target_Level, Daily_Target_Value, Annual_Target_Value, Variance, DW_Created_At)
        SELECT b.Tenant_ID, d.[pk_Date], b.Metric, b.Target_Level,
               b.Daily_Target_Value, b.Annual_Target_Value, b.Variance, SYSUTCDATETIME()
        FROM #best b
        INNER JOIN [Gold].[Dim_Date] d
            ON d.[Financial_Year] = b.FY AND d.[Is_Weekend] = 0 AND d.[Is_England_Wales_Bank_Holiday] = 0;
        SET @My_Inserts = @@ROWCOUNT;

        DROP TABLE #cand; DROP TABLE #best; DROP TABLE #wd;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;

    SET @Run_Inserts = @My_Inserts;
    SET @Run_Updates = @My_Updates;
    SET @Run_Deletes = @My_Deletes;
END
GO
