--------------------------------------------------------------------
--  View   :  Gold.vw_Dim_Patients
--  Author :  AIH
--  Purpose:  Presentation layer over Gold.Dim_Patients that ADDS Effectively_Active, so Power BI
--            can apply the same "does this patient still use the practice" rule the warehouse
--            already applies to the Day Book tiles.
--
--            Why this is needed: the Day Book detail drill-through pages filter only on the fact
--            condition (Is Cancelled / Is DNA / Course Status / recall scope) with NO patient
--            predicate at all, so they listed roughly twice what the tile counted -- on tenant 100,
--            2,185 rows behind a tile reading 1,157. Power BI cannot express "attended within two
--            years" from the base views, so the flag is supplied here and the pages filter on it.
--
--            Effectively_Active is the SAME definition as everywhere else -- it simply reads
--            Gold.vw_Effectively_Active_Patients rather than restating the rule. See that view for
--            why it is computed on read and not stored.
--
--            Meta.usp_Create_Gold_Views prefers a vw_<table> override over the table itself, so
--            this becomes PBI.[List Patients] automatically (same mechanism as vw_Dim_Practitioners
--            -> PBI.[List Practitioners]). Purely ADDITIVE: all 51 original columns are passed
--            through unchanged and in order, so nothing already bound in a report can break.
--
--  History:
--    *01     15/09/2026  AIH Initial release. Adds Effectively_Active for the Day Book detail pages.
--    *02     07/10/2026  AIH V216: pass through the three role-based last-visit dates. THIS VIEW
--                            OVERRIDES THE TABLE, so a column added to Gold.Dim_Patients and not
--                            added here never reaches PBI.[List Patients] and nothing complains.
--------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP VIEW IF EXISTS [Gold].[vw_Dim_Patients]
GO
CREATE VIEW [Gold].[vw_Dim_Patients]
AS
SELECT
    p.pk_Patient,
    p.Tenant_ID,
    p.Patient_ID,
    p.Account_ID,
    p.First_Name,
    p.Last_Name,
    p.Preferred_Name,
    p.Full_Name,
    p.Email_Address,
    p.Home_Phone,
    p.Mobile_Phone,
    p.Is_Email_Missing,
    p.Is_Phone_Missing,
    p.Active,
    p.Payment_Plan_ID,
    p.Site_ID,
    p.Acquisition_Source_ID,
    p.fk_Acquisition_Source,
    p.Dentist_Practitioner_ID,
    p.Hygienist_Practitioner_ID,
    p.Dentist_Recall_Date,
    p.Dentist_Recall_Interval_Months,
    p.Hygienist_Recall_Date,
    p.Hygienist_Recall_Interval_Months,
    p.Recall_Method,
    p.Use_Email,
    p.Use_SMS,
    p.Preferred_Phone,
    p.Marketing_Consent,
    p.First_Appointment_Date,
    p.Last_Appointment_Date,
    p.Next_Appointment_Date,
    p.First_Exam_Date,
    p.Last_Exam_Date,
    p.Next_Exam_Date,
    p.Last_Scale_Polish_Date,
    p.Next_Scale_Polish_Date,
    p.Last_FTA_Date,
    p.Last_Cancelled_Appointment_Date,
    -- V216. Last seen by role, and by the patient's OWN allocated dentist. Added here in
    -- the same position they hold on the table, so the view stays additive and in order.
    p.Last_Dentist_Visit_Date,
    p.Last_Hygienist_Visit_Date,
    p.Last_Allocated_Dentist_Visit_Date,
    p.Total_Paid,
    p.Total_Invoiced,
    p.Patient_Created_Date,
    p.Patient_Updated_Date,
    p.Lapsed_Type,
    p.fk_Date_Lapsed,
    p.Patient_Count,
    p.DW_Created_At,
    p.DW_Updated_At,
    p.Standard_Payment_Plan,
    p.Lapsed_Date,
    p.Lapsed_Reason,
    -- BIT so it lands in Power BI as a true/false the pages can filter on directly.
    CAST(CASE WHEN ea.pk_Patient IS NULL THEN 0 ELSE 1 END AS BIT)   AS Effectively_Active
FROM Gold.Dim_Patients p
LEFT JOIN Gold.vw_Effectively_Active_Patients ea
       ON ea.pk_Patient = p.pk_Patient
GO
