--------------------------------------------------------------------
--  Stored Procedure :  Gold.usp_Load_Dim_Client
--  Author           :  AIH
--  Initial Date     :  2026-10-02
--  History          :
--    *01     2026-10-02  AIH  Initial release (sales monitor dimensional model)
--  Notes            :  Full rebuild of a SMALL dimension (one row per commercial client, plus
--                      the -1 unknown member). A MERGE is the convention for a dim whose pk must
--                      survive, but nothing points at pk_Client except Fact_Client_Status, which
--                      is rebuilt immediately afterwards in the same chain -- so the keys are
--                      rebuilt together and cannot drift apart. pk_Client = bk_Client_ID
--                      deliberately: the business key is already a small stable int, so a
--                      separate surrogate would add a join and nothing else.
--  To Run           :  DECLARE @i BIGINT,@u BIGINT,@d BIGINT; EXEC Gold.usp_Load_Dim_Client @Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT
---------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Gold].[usp_Load_Dim_Client]
(
      @Mode          VARCHAR(100)     = 'TEST'
    , @Logging       SMALLINT         = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;
    SET NOCOUNT ON;
    BEGIN TRY

        DELETE FROM [Gold].[Dim_Client];
        SET @My_Deletes = @@ROWCOUNT;

        -- Temp tables rather than CTEs throughout: in Fabric a re-referenced CTE re-evaluates its
        -- source and loses statistics.
        DROP TABLE IF EXISTS #tn;
        SELECT Client_ID,
               COUNT(*)                                      AS Tenant_Count,
               SUM(CASE WHEN Is_Active = 1 THEN 1 ELSE 0 END) AS Active_Tenant_Count
        INTO   #tn
        FROM   [Audit].[Tenants]
        WHERE  Client_ID IS NOT NULL
        GROUP BY Client_ID;

        DROP TABLE IF EXISTS #us;
        SELECT Client_ID, COUNT(DISTINCT User_UPN) AS Users_Provisioned
        INTO   #us
        FROM   [Security].[Application_Users]
        WHERE  Client_ID IS NOT NULL
        GROUP BY Client_ID;

        -- Billing is keyed by TENANT, so fold to client on the EARLIEST dates: the commercial
        -- relationship starts when the first practice does. Revisit when a group with staggered
        -- billing actually exists.
        DROP TABLE IF EXISTS #bl;
        SELECT t.Client_ID,
               MIN(ab.Access_From)                                               AS Access_From,
               MIN(ab.Paid_From)                                                 AS Paid_From,
               MAX(CASE WHEN ab.Cancelled_At IS NOT NULL THEN 1 ELSE 0 END)       AS Is_Cancelled,
               MAX(CASE WHEN ab.Stripe_Customer_ID IS NOT NULL THEN 1 ELSE 0 END) AS Has_Stripe_Customer
        INTO   #bl
        FROM   [Billing].[Account_Billing] ab
        JOIN   [Audit].[Tenants] t ON t.Tenant_ID = ab.Tenant_ID
        WHERE  t.Client_ID IS NOT NULL
        GROUP BY t.Client_ID;

        INSERT INTO [Gold].[Dim_Client]
            (pk_Client, bk_Client_ID, Client_Name, Is_Vendor, Is_Demo, Tenant_Count,
             Active_Tenant_Count, Users_Provisioned, fk_Date_Access_From, fk_Date_Paid_From,
             Is_Free_Forever, Is_Cancelled, Has_Stripe_Customer, DW_Created_At, DW_Updated_At)
        -- ==> THE -1 UNKNOWN MEMBER IS NOT OPTIONAL. <== A fact row must always resolve its fk,
        -- and Audit.usp_Check_Referential_Integrity fails the build when the sentinel is missing.
        SELECT -1, -1, '(unknown client)', 0, 0, 0, 0, 0, -1, -1, 0, 0, 0,
               SYSUTCDATETIME(), SYSUTCDATETIME()
        UNION ALL
        SELECT c.Client_ID,
               c.Client_ID,
               c.Client_Name,
               CASE WHEN c.Client_ID = 1  THEN 1 ELSE 0 END,        -- Analytically itself
               CASE WHEN c.Client_ID = 11 THEN 1 ELSE 0 END,        -- the demonstration practice
               ISNULL(tn.Tenant_Count, 0),
               ISNULL(tn.Active_Tenant_Count, 0),
               ISNULL(us.Users_Provisioned, 0),
               ISNULL([Gold].[fn_Get_Date_Key](bl.Access_From), -1),
               ISNULL([Gold].[fn_Get_Date_Key](bl.Paid_From),   -1),
               -- Paid_From = 2100-01-01 is the free-forever sentinel the app's trial banner reads.
               CASE WHEN bl.Paid_From >= '2100-01-01' THEN 1 ELSE 0 END,
               ISNULL(bl.Is_Cancelled, 0),
               ISNULL(bl.Has_Stripe_Customer, 0),
               SYSUTCDATETIME(), SYSUTCDATETIME()
        FROM   [Security].[Clients] c
        LEFT JOIN #tn tn ON tn.Client_ID = c.Client_ID
        LEFT JOIN #us us ON us.Client_ID = c.Client_ID
        LEFT JOIN #bl bl ON bl.Client_ID = c.Client_ID;
        SET @My_Inserts = @@ROWCOUNT;

        DROP TABLE IF EXISTS #tn;
        DROP TABLE IF EXISTS #us;
        DROP TABLE IF EXISTS #bl;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;

    SET @Run_Inserts = @My_Inserts;
    SET @Run_Updates = @My_Updates;
    SET @Run_Deletes = @My_Deletes;
END
GO
