--DECLARE @i BIGINT=0, @u BIGINT=0, @d BIGINT=0; EXEC [Gold].[usp_Load_Fact_Plan_Capitation] @Mode='PROD', @Run_Inserts=@i OUT, @Run_Updates=@u OUT, @Run_Deletes=@d OUT;
--------------------------------------------------------------------
--  Stored Procedure :  Gold.usp_Load_Fact_Plan_Capitation
--  Author           :  AIH
--  Initital Date    :  01/08/2026
--  History          :
--    *01     01/08/2026  AIH Initial Release
--
--  Purpose          :  Materialises monthly membership (capitation) revenue: one row per member x
--                      calendar month, valued at the plan's effective-dated monthly fee. Folded into
--                      Total Revenue by the model. Full rebuild (DROP/CREATE) -- late historical
--                      charges reopen closed months, so only a full rebuild is correct.
--
--                      Dentally holds NO historical plan, so:
--                       - A "plan-style course" = a completed treatment plan containing an Exam/Hygiene
--                         item, that is NOT NHS-funded (NHS_UDA_Value = 0) and NOT privately charged
--                         (Private_Treatment_Value = 0). Its month is the membership evidence.
--                       - TENURE = MIN..MAX plan-style course month (single tenure, approximation).
--                         Every calendar month between is billed. If the patient's CURRENT plan has a
--                         rate AND they are active, the tenure rolls forward to the current month.
--                       - ATTRIBUTION: current plan if it has a rate (Is_Estimated_Plan = 0); else the
--                         DEFAULT plan rate for a former member (Is_Estimated_Plan = 1), but only when
--                         their tenure spans >= 2 months (eradicates one-off stray uncharged exams).
--                       - Each member-month takes the rate row whose Effective_From_Date is the latest
--                         <= that month; a month with no covering rate produces NO row.
--
--  Dependencies     :  Gold Dim_Patients / Dim_Payment_Plans / Dim_Practice_Sites / Dim_Date,
--                      Gold Fact_Treatment_Plans + Fact_Treatment_Plan_Items, Input.Plan_Capitation_Rate
--                      (synced from AppDB by Meta.usp_Sync_Input_From_AppDB).
--
--  To Run           :  DECLARE @Run_Inserts BIGINT, @Run_Updates BIGINT, @Run_Deletes BIGINT;
--                      EXEC Gold.usp_Load_Fact_Plan_Capitation
--                           @Run_Inserts=@Run_Inserts OUT, @Run_Updates=@Run_Updates OUT, @Run_Deletes=@Run_Deletes OUT
---------------------------------------------------------------------
/****** Object:  StoredProcedure [Gold].[usp_Load_Fact_Plan_Capitation]    Script Date: 08/01/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [Gold].[usp_Load_Fact_Plan_Capitation]
GO
CREATE PROCEDURE [Gold].[usp_Load_Fact_Plan_Capitation]
(
      @Mode          VARCHAR(100)     = 'TEST'
    , @Logging       SMALLINT         = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;
    SET NOCOUNT ON;
    BEGIN TRY
        --*********************************
        --**** Procedure logic starts  ****
        --*********************************

        DECLARE @Current_Month DATE = DATEFROMPARTS(YEAR(SYSUTCDATETIME()), MONTH(SYSUTCDATETIME()), 1);

        DROP TABLE IF EXISTS [Gold].[Fact_Plan_Capitation];

        CREATE TABLE [Gold].[Fact_Plan_Capitation] (
            [pk_Plan_Capitation]  BIGINT IDENTITY NOT NULL,
            [Tenant_ID]           INT           NOT NULL,
            [fk_Patient]          BIGINT        NOT NULL,
            [fk_Payment_Plan]     BIGINT        NOT NULL,
            [fk_Practice_Site]    BIGINT        NOT NULL,
            [fk_Date]             BIGINT        NOT NULL,
            [Monthly_Value]       DECIMAL(9,2)  NOT NULL,
            [Is_Estimated_Plan]   BIT           NOT NULL,
            [DW_Created_At]       DATETIME2(3)  NOT NULL
        );

        WITH plan_course AS (
            -- membership-evidence months: completed, non-NHS, non-charged Exam/Hygiene courses
            SELECT tp.Tenant_ID, tp.fk_Patient, dd.Month_Commencing_Date AS course_month
            FROM   [Gold].[Fact_Treatment_Plans] tp
            JOIN   [Gold].[Dim_Date] dd ON dd.pk_Date = tp.fk_Date_Start
            WHERE  tp.Completed = 1
              AND  tp.fk_Date_Start > 0
              AND  ISNULL(tp.NHS_UDA_Value, 0)         = 0
              AND  ISNULL(tp.Private_Treatment_Value, 0) = 0
              AND  EXISTS (SELECT 1 FROM [Gold].[Fact_Treatment_Plan_Items] i
                           WHERE i.fk_Treatment_Plan = tp.fk_Treatment_Plan
                             AND i.Nomenclature IN ('Exam','Hygiene 20','Hygiene 30','Routine Hygiene')
                             AND i.Charged = 0)
        ),
        tenure AS (
            SELECT Tenant_ID, fk_Patient,
                   MIN(course_month)          AS start_m,
                   MAX(course_month)          AS last_m,
                   COUNT(DISTINCT course_month) AS course_months
            FROM   plan_course
            GROUP BY Tenant_ID, fk_Patient
        ),
        rated_plans AS (   -- distinct plans that carry any rate (the "capitation" plans, owner-defined)
            SELECT DISTINCT Tenant_ID, Payment_Plan_ID FROM [Input].[Plan_Capitation_Rate]
        ),
        default_plan AS (  -- the one fallback plan per tenant (values former members)
            SELECT DISTINCT Tenant_ID, Payment_Plan_ID FROM [Input].[Plan_Capitation_Rate] WHERE Is_Default = 1
        ),
        resolved AS (
            SELECT t.Tenant_ID, t.fk_Patient, t.start_m, t.course_months,
                   COALESCE(own.Payment_Plan_ID, def.Payment_Plan_ID) AS attributed_plan_id,
                   CASE WHEN own.Payment_Plan_ID IS NOT NULL THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT) END AS is_estimated,
                   CASE WHEN own.Payment_Plan_ID IS NOT NULL AND pat.Active = 1
                        THEN @Current_Month ELSE t.last_m END AS end_m
            FROM   tenure t
            JOIN   [Gold].[Dim_Patients] pat ON pat.pk_Patient = t.fk_Patient
            LEFT JOIN rated_plans  own ON own.Tenant_ID = t.Tenant_ID AND own.Payment_Plan_ID = pat.Payment_Plan_ID
            LEFT JOIN default_plan def ON def.Tenant_ID = t.Tenant_ID
            WHERE  COALESCE(own.Payment_Plan_ID, def.Payment_Plan_ID) IS NOT NULL
              AND  (own.Payment_Plan_ID IS NOT NULL OR t.course_months >= 2)   -- formers need a >=2-month tenure
        ),
        months AS (
            SELECT r.Tenant_ID, r.fk_Patient, r.attributed_plan_id, r.is_estimated,
                   d.pk_Date, d.Month_Commencing_Date
            FROM   resolved r
            JOIN   [Gold].[Dim_Date] d
                   ON d.Day_Of_Month = 1
                  AND d.Month_Commencing_Date BETWEEN r.start_m AND r.end_m
        ),
        priced AS (
            SELECT m.Tenant_ID, m.fk_Patient, m.attributed_plan_id, m.is_estimated, m.pk_Date,
                   rr.Monthly_Value,
                   ROW_NUMBER() OVER (PARTITION BY m.Tenant_ID, m.fk_Patient, m.pk_Date
                                      ORDER BY rr.Effective_From_Date DESC) AS rn
            FROM   months m
            JOIN   [Input].[Plan_Capitation_Rate] rr
                   ON rr.Tenant_ID = m.Tenant_ID
                  AND rr.Payment_Plan_ID = m.attributed_plan_id
                  AND rr.Effective_From_Date <= m.Month_Commencing_Date
        )
        INSERT INTO [Gold].[Fact_Plan_Capitation]
            (Tenant_ID, fk_Patient, fk_Payment_Plan, fk_Practice_Site, fk_Date,
             Monthly_Value, Is_Estimated_Plan, DW_Created_At)
        SELECT p.Tenant_ID, p.fk_Patient,
               ISNULL(dpp.pk_Payment_Plan, -1),
               ISNULL(dps.pk_Practice_Site, -1),
               p.pk_Date, p.Monthly_Value, p.is_estimated, SYSUTCDATETIME()
        FROM   priced p
        JOIN   [Gold].[Dim_Patients] pat ON pat.pk_Patient = p.fk_Patient
        LEFT JOIN [Gold].[Dim_Payment_Plans]  dpp ON dpp.Tenant_ID = p.Tenant_ID AND dpp.Payment_Plan_ID = p.attributed_plan_id
        LEFT JOIN [Gold].[Dim_Practice_Sites] dps ON dps.Tenant_ID = p.Tenant_ID AND dps.Site_ID = pat.Site_ID
        WHERE  p.rn = 1;

        SET @My_Inserts = @@ROWCOUNT;

        --*********************************
        --**** Procedure logic ends    ****
        --*********************************

    END TRY

    BEGIN CATCH
        THROW;
    END CATCH;

    SET @Run_Inserts = @My_Inserts;
    SET @Run_Updates = @My_Updates;
    SET @Run_Deletes = @My_Deletes;

END
GO
