--DECLARE @i BIGINT=0,@u BIGINT=0,@d BIGINT=0; EXEC [Gold].[usp_Load_Dim_Date_Grouping] @Mode='PROD',@Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT;
--------------------------------------------------------------------
--  Stored Procedure :  Gold.usp_Load_Dim_Date_Grouping
--  Author           :  AIH
--  History          :
--    *01..*07  (2026-05) named date-range bands + prior-year pairs (single, Apr-Mar FY).
--    *08       2026-08-01  AIH TENANT-SPECIFIC practice FY (Gold.vw_Dim_Date), FYyy labels, RLS by Tenant_ID.
--    *09       2026-08-01  AIH Periods = Last 3 Months, Last 12 Months, then a bucket for EVERY practice
--                          FY from the practice cutover (first FY with real data, >=100 appts) to the
--                          current FY. No "(YTD)" label; the current FY bucket is still year-to-date
--                          (dates <= today) so target-to-date stays correct. Reads Fact_Appointments
--                          for the cutover -> classified GOLD_AGG (runs after facts).
--    *10       2026-09-29  AIH CTEs replaced with temp tables, and the date span narrowed before the
--                          self-join. Same output, proven row for row by the V198 guard.
--  Notes:
--    Grain   : one row per (Tenant, Date_Grouping, Date), with the matching practice-day in the
--              prior financial year carried alongside for year-on-year comparison.
--    Pattern : full rebuild (DROP/CREATE).
--
--    ==> THIS PROCEDURE PAIRED FORTY-ONE YEARS AGAINST FORTY-ONE YEARS TO KEEP 2,553 ROWS. <==
--    The previous version built every grouping from a single CTE over Gold.vw_Dim_Date, then
--    self-joined it. Dim_Date runs 2000-01-01 to 2040-12-31, so that self-join considered
--    14,976 x 14,976 = 224,280,576 combinations, and the CTE was referenced five times -- and a
--    CTE is not materialised, so the view was re-evaluated at each reference with computed
--    financial-year columns the optimiser had no statistics for.
--
--    Measured in PROD from queryinsights.exec_requests_history:
--
--        1,047 CPU-seconds per run, 64.7s elapsed, 0.057 MB scanned, 2,553 rows produced
--        ~43% of the entire warehouse's CPU for the week, every night
--
--    Nothing about that was proportional to the data. It was proportional to the shape.
--
--    ==> NARROW BEFORE PAIRING; MATERIALISE BEFORE JOINING. <== The output can only ever contain
--    the rolling 365-day window and the financial years from cutover to current -- three or four
--    years, not forty-one. #v is cut to that span first, which takes the pairing space down by
--    more than two orders of magnitude, and every step lands in a temp table so the view is read
--    once and each join gets real statistics.
--
--    ==> WHY NARROWING CANNOT LOSE A ROW. <== The pairing is an INNER join, so a date whose
--    prior financial year falls outside #v is dropped. #v starts one full financial year BEFORE
--    the earliest year that can be emitted, so every emitted row still finds its partner, and
--    the rows in that extra leading year are never themselves emitted. The release guard proves
--    this by running the old query and the new table side by side on the same @Today rather
--    than trusting the argument.
--
--  Purpose          :  The period bridge behind every date selection in the product. Rebuilt
--                      nightly because the rolling windows move with the date.
--  To Run           :  DECLARE @i BIGINT,@u BIGINT,@d BIGINT; EXEC Gold.usp_Load_Dim_Date_Grouping
--                      @Mode='PROD', @Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT;
---------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [Gold].[usp_Load_Dim_Date_Grouping]
(
      @Mode          VARCHAR(100)     = 'TEST'
    , @Logging       SMALLINT         = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;

    BEGIN TRY
        SET NOCOUNT ON;

        DECLARE @Today DATE = CAST(SYSDATETIME() AS DATE);

        IF OBJECT_ID('Gold.Dim_Date_Grouping', 'U') IS NOT NULL
            SELECT @My_Deletes = COUNT(*) FROM Gold.Dim_Date_Grouping;

        -- ===== 1. date -> financial year, the only columns the fact join needs ================
        -- Read across the full calendar because the cutover year is not known yet, but carry
        -- three columns rather than the whole view.
        DROP TABLE IF EXISTS #dfy;
        SELECT Tenant_ID, pk_Date, Financial_Year
        INTO   #dfy
        FROM   Gold.vw_Dim_Date;

        -- ===== 2. the first financial year that holds real data ===============================
        -- A practice's history usually has a few stray historic appointments before it went
        -- live; 100 in a year is the threshold for "this year actually happened".
        DROP TABLE IF EXISTS #fy_counts;
        SELECT d.Tenant_ID, d.Financial_Year AS FY, COUNT(*) AS n
        INTO   #fy_counts
        FROM   #dfy d
        JOIN   Gold.Fact_Appointments a
               ON a.fk_Date_Start = d.pk_Date AND a.Tenant_ID = d.Tenant_ID
        GROUP  BY d.Tenant_ID, d.Financial_Year;

        DROP TABLE IF EXISTS #cutover;
        SELECT Tenant_ID, MIN(FY) AS cutover_fy
        INTO   #cutover
        FROM   #fy_counts
        WHERE  n >= 100
        GROUP  BY Tenant_ID;

        -- ===== 3. the practice financial year containing today ================================
        DROP TABLE IF EXISTS #cur;
        SELECT Tenant_ID, MAX(Financial_Year) AS cur_fy
        INTO   #cur
        FROM   Gold.vw_Dim_Date
        WHERE  Full_Date = @Today
        GROUP  BY Tenant_ID;

        -- ===== 4. the earliest financial year the rolling windows can reach ===================
        -- 'Last 12 Months' is bounded by Relative_Day, not by financial year, so on its own it
        -- can start earlier than the cutover year. Both bounds are needed to size the span.
        DROP TABLE IF EXISTS #roll;
        SELECT Tenant_ID, MIN(Financial_Year) AS min_roll_fy
        INTO   #roll
        FROM   Gold.vw_Dim_Date
        WHERE  Relative_Day BETWEEN -365 AND 0
        GROUP  BY Tenant_ID;

        -- ===== 5. the span worth reading at all ===============================================
        -- One year BELOW the earliest emitted year, so every emitted date still finds its
        -- prior-year partner in the inner join below.
        DROP TABLE IF EXISTS #span;
        SELECT c.Tenant_ID,
               CASE WHEN r.min_roll_fy < c.cutover_fy THEN r.min_roll_fy
                    ELSE c.cutover_fy END - 1              AS from_fy,
               u.cur_fy                                    AS to_fy
        INTO   #span
        FROM   #cutover c
        JOIN   #cur  u ON u.Tenant_ID = c.Tenant_ID
        JOIN   #roll r ON r.Tenant_ID = c.Tenant_ID;

        -- ===== 6. the narrowed date spine, read once =========================================
        DROP TABLE IF EXISTS #v;
        SELECT d.Tenant_ID, d.pk_Date, d.Full_Date, d.Financial_Year, d.Financial_Year_Name,
               d.Financial_Day_Of_Year, d.Relative_Day
        INTO   #v
        FROM   Gold.vw_Dim_Date d
        JOIN   #span s ON s.Tenant_ID = d.Tenant_ID
        WHERE  d.Financial_Year BETWEEN s.from_fy AND s.to_fy;

        -- ===== 7. each date beside the same practice-day a year earlier ======================
        DROP TABLE IF EXISTS #paired;
        SELECT v.Tenant_ID, v.pk_Date, v.Full_Date, v.Financial_Year, v.Financial_Year_Name,
               v.Relative_Day, p.pk_Date AS fk_Date_Previous_Year
        INTO   #paired
        FROM   #v v
        JOIN   #v p
               ON p.Tenant_ID             = v.Tenant_ID
              AND p.Financial_Year        = v.Financial_Year - 1
              AND p.Financial_Day_Of_Year = v.Financial_Day_Of_Year;

        -- ===== 8. build ======================================================================
        DROP TABLE IF EXISTS Gold.Dim_Date_Grouping;

        CREATE TABLE Gold.Dim_Date_Grouping (
              Tenant_ID             INT         NOT NULL
            , Date_Grouping         VARCHAR(30) NOT NULL
            , fk_Date               INT         NOT NULL
            , fk_Date_Previous_Year INT         NOT NULL
        );

        -- rolling windows
        INSERT INTO Gold.Dim_Date_Grouping (Tenant_ID, Date_Grouping, fk_Date, fk_Date_Previous_Year)
        SELECT pr.Tenant_ID, 'Last 3 Months', pr.pk_Date, pr.fk_Date_Previous_Year
        FROM   #paired pr
        WHERE  pr.Relative_Day BETWEEN -90 AND 0;
        SET @My_Inserts = @@ROWCOUNT;

        INSERT INTO Gold.Dim_Date_Grouping (Tenant_ID, Date_Grouping, fk_Date, fk_Date_Previous_Year)
        SELECT pr.Tenant_ID, 'Last 12 Months', pr.pk_Date, pr.fk_Date_Previous_Year
        FROM   #paired pr
        WHERE  pr.Relative_Day BETWEEN -365 AND 0;
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

        -- one bucket per practice financial year, cutover to current; the live year is YTD and
        -- keeps its FYyy label rather than being marked partial.
        INSERT INTO Gold.Dim_Date_Grouping (Tenant_ID, Date_Grouping, fk_Date, fk_Date_Previous_Year)
        SELECT pr.Tenant_ID, pr.Financial_Year_Name, pr.pk_Date, pr.fk_Date_Previous_Year
        FROM   #paired pr
        JOIN   #cutover co ON co.Tenant_ID = pr.Tenant_ID
        JOIN   #cur     cu ON cu.Tenant_ID = pr.Tenant_ID
        WHERE  pr.Financial_Year BETWEEN co.cutover_fy AND cu.cur_fy
          AND  (pr.Financial_Year < cu.cur_fy OR pr.Full_Date <= @Today);
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

        DROP TABLE IF EXISTS #dfy;
        DROP TABLE IF EXISTS #fy_counts;
        DROP TABLE IF EXISTS #cutover;
        DROP TABLE IF EXISTS #cur;
        DROP TABLE IF EXISTS #roll;
        DROP TABLE IF EXISTS #span;
        DROP TABLE IF EXISTS #v;
        DROP TABLE IF EXISTS #paired;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;

    SET @Run_Inserts = @My_Inserts;
    SET @Run_Updates = @My_Updates;
    SET @Run_Deletes = @My_Deletes;

END;
GO
