/****** Object:  Table [Gold].[Fact_New_Patients]    Script Date: 08/01/2026 ******/
-- One row per NEW patient (a patient whose First_Appointment_Date is known). Cohort-dated by the
-- first appointment so a period slicer selects the acquisition cohort. Two display-only Clinical
-- metrics ride on it:
--   Avg First Plan Value    = Private Treatment Value of the plan(s) created at the first appointment
--                             (linked via Fact_Treatment_Appointments), averaged over new patients
--                             who actually got a plan (Has_First_Plan = 1).
--   New Patient Retention   = share of new patients who returned for a SECOND exam ever
--                             (Retained = 1 when Last_Exam_Date > First_Exam_Date).
-- Built full-rebuild (DROP/CREATE) by Gold.usp_Load_Fact_New_Patients. GOLD_AGG: reads other Gold
-- facts/dims. Flags are INT (0/1) not BIT so the measures stay a simple SUM in the import model.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Fact_New_Patients]
GO
CREATE TABLE [Gold].[Fact_New_Patients] (
    [pk_New_Patient]              BIGINT IDENTITY NOT NULL,
    [Tenant_ID]                   INT             NOT NULL,
    [bk_Patient_ID]               INT             NOT NULL,
    [fk_Patient]                  BIGINT          NOT NULL,
    [fk_Practitioner]             BIGINT          NOT NULL,
    [fk_Date_First_Appointment]   BIGINT          NOT NULL,
    [fk_Payment_Plan]             BIGINT                     NOT NULL,
    [fk_Practice_Site]           BIGINT                     NOT NULL,
    [First_Plan_Value]            DECIMAL(18, 4)  NULL,
    [Has_First_Plan]              INT             NOT NULL,
    [Retained]                    INT             NOT NULL,
    [New_Patient_Count]           INT             NOT NULL,
    [DW_Created_At]               DATETIME2(3)    NOT NULL
)
GO
