/****** Object:  Table [Gold].[Fact_Daily_Targets]    Script Date: 07/14/2026 ******/
-- REWRITTEN for the target-model rewrite. Grain: (Tenant, fk_Date, Metric, Target_Level) where
-- Target_Level = 'Practice' or a Custom_Role. Daily_Target_Value = cumulative ? annual/working-days :
-- annual (rate/point are constant per day). Annual_Target_Value = the FY target. Measures resolve the
-- Target_Level from the filter (practitioner -> their Custom_Role; role -> that role; All -> Practice)
-- then SUM(Daily) for cumulative / take Annual for rate+point. Replaces the site/practitioner grain.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Fact_Daily_Targets]
GO
CREATE TABLE [Gold].[Fact_Daily_Targets] (
    [pk_Daily_Target]      BIGINT IDENTITY NOT NULL,
    [Tenant_ID]            INT           NOT NULL,
    [fk_Date]              INT           NOT NULL,
    [Metric]               VARCHAR(100)  NOT NULL,
    [Target_Level]         VARCHAR(100)  NOT NULL,
    [Daily_Target_Value]   DECIMAL(18,6) NOT NULL,
    [Annual_Target_Value]  DECIMAL(18,4) NOT NULL,
    [Variance]             DECIMAL(10,4) NULL,
    [DW_Created_At]        DATETIME2(3)  NOT NULL
)
GO
