-- Gold.Dim_Patient_Data_Quality  (VIEW)
-- Day Book data-quality report #1: ACTIVE patients (active flag + an attended appointment within the last 2 years) whose assigned dentist and/or hygienist is
-- INACTIVE -- they need reassigning in Dentally. A view (not columns on Dim_Patients) so it is
-- composed AFTER the facts are built and read at model-refresh time -- no dimension-load ordering.
-- Named Dim_* so Meta.usp_Create_Gold_Views surfaces it as the dimension-style PBI.[List Patient
-- Data Quality] (it is a view, not a base table).
--
-- Grain: one row per (patient x INACTIVE assigned practitioner) -- a patient whose dentist AND
-- hygienist are both inactive appears twice, so a single "Inactive Practitioner" slicer lists every
-- departed practitioner and shows exactly their orphaned patients.
--   Has_Outstanding_Appointment : a FUTURE booked appt (Start_Time >= today; not cancelled/completed/DNA)
--   Has_Open_Course             : an open course of treatment (not complete, has open items)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- clean up the first-cut name (Gold + its generated PBI view) so a rename doesn't leave orphans
DROP VIEW IF EXISTS [PBI].[Patient_Data_Quality]
GO
DROP VIEW IF EXISTS [Gold].[Patient_Data_Quality]
GO
DROP VIEW IF EXISTS [Gold].[Dim_Patient_Data_Quality]
GO
CREATE VIEW [Gold].[Dim_Patient_Data_Quality] AS
WITH pat AS (
    SELECT
        p.pk_Patient, p.Tenant_ID, p.Patient_ID,
        p.Full_Name, p.Mobile_Phone, p.Home_Phone, p.Email_Address,
        p.Last_Scale_Polish_Date               AS Last_Hygiene_Date,
        p.Last_Exam_Date                       AS Last_Exam_Date,
        p.Hygienist_Recall_Date                AS Next_Hygiene_Recall_Date,
        p.Dentist_Recall_Date                  AS Next_Dentist_Recall_Date,
        p.Dentist_Practitioner_ID, p.Hygienist_Practitioner_ID,
        CAST(CASE WHEN oa.fk_Patient IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS Has_Outstanding_Appointment,
        CAST(CASE WHEN oc.fk_Patient IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS Has_Open_Course
    FROM [Gold].[Dim_Patients] p
    LEFT JOIN (
        SELECT DISTINCT fk_Patient
        FROM [Gold].[Fact_Appointments]
        WHERE Start_Time >= CAST(SYSUTCDATETIME() AS DATE)
          AND ISNULL(Is_Cancelled,0) = 0
          AND ISNULL(Is_Completed,0) = 0
          AND ISNULL(Is_DNA,0)       = 0
    ) oa ON oa.fk_Patient = p.pk_Patient
    LEFT JOIN (
        SELECT DISTINCT fk_Patient
        FROM [Gold].[Fact_Treatment_Plans]
        WHERE ISNULL(Completed,0)     = 0
          AND ISNULL(Has_Open_Item,0) = 1
    ) oc ON oc.fk_Patient = p.pk_Patient
    WHERE p.pk_Patient > 0
            -- effectively-active only -- now the SHARED definition, so this view and the Day Book
            -- action counts cannot drift apart again. The inline rule it replaces used
            -- Is_Completed = 1, which is only "Completed_At IS NOT NULL" and so still counted the
            -- handful of appointments flagged completed AND cancelled/DNA. The Active flag is
            -- checked inside the view. See Gold.vw_Effectively_Active_Patients.
            AND EXISTS (
                SELECT 1 FROM [Gold].[vw_Effectively_Active_Patients] ea
                WHERE ea.pk_Patient = p.pk_Patient
                  AND ea.Tenant_ID  = p.Tenant_ID
            )
)
SELECT
    pat.pk_Patient, pat.Tenant_ID, pat.Patient_ID, pat.Full_Name,
    pat.Mobile_Phone, pat.Home_Phone, pat.Email_Address,
    pat.Last_Hygiene_Date, pat.Last_Exam_Date,
    pat.Next_Hygiene_Recall_Date, pat.Next_Dentist_Recall_Date,
    pat.Has_Outstanding_Appointment, pat.Has_Open_Course,
    CAST('Dentist' AS VARCHAR(20))         AS Inactive_Practitioner_Role,
    dd.Practitioner_ID                     AS Inactive_Practitioner_ID,
    dd.Full_Name                           AS Inactive_Practitioner_Name
FROM pat
JOIN [Gold].[Dim_Practitioners] dd
      ON dd.Practitioner_ID = pat.Dentist_Practitioner_ID
     AND dd.Tenant_ID       = pat.Tenant_ID
     AND ISNULL(dd.Active,1) = 0
UNION ALL
SELECT
    pat.pk_Patient, pat.Tenant_ID, pat.Patient_ID, pat.Full_Name,
    pat.Mobile_Phone, pat.Home_Phone, pat.Email_Address,
    pat.Last_Hygiene_Date, pat.Last_Exam_Date,
    pat.Next_Hygiene_Recall_Date, pat.Next_Dentist_Recall_Date,
    pat.Has_Outstanding_Appointment, pat.Has_Open_Course,
    CAST('Hygienist' AS VARCHAR(20)),
    dh.Practitioner_ID, dh.Full_Name
FROM pat
JOIN [Gold].[Dim_Practitioners] dh
      ON dh.Practitioner_ID = pat.Hygienist_Practitioner_ID
     AND dh.Tenant_ID       = pat.Tenant_ID
     AND ISNULL(dh.Active,1) = 0
GO
