/****** Object:  Table [Gold].[Fact_Plan_Capitation]    Script Date: 08/01/2026 ******/
-- One row per member x month: the monthly membership (capitation) fee, folded into Total Revenue.
-- Built full-rebuild (DROP/CREATE) by Gold.usp_Load_Fact_Plan_Capitation. Tenure endpoints come from
-- plan-style treatment-plan courses; every calendar month between is billed; active members roll to
-- the current month. Is_Estimated_Plan = 1 for former members valued at the default plan rate.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Gold].[Fact_Plan_Capitation]
GO
CREATE TABLE [Gold].[Fact_Plan_Capitation] (
    [pk_Plan_Capitation]  BIGINT IDENTITY NOT NULL,
    [Tenant_ID]           INT           NOT NULL,
    [fk_Patient]          BIGINT        NOT NULL,
    [fk_Payment_Plan]     BIGINT        NOT NULL,
    [fk_Practice_Site]    BIGINT        NOT NULL,
    [fk_Date]             BIGINT        NOT NULL,   -- month-commencing pk_Date
    [Monthly_Value]       DECIMAL(9,2)  NOT NULL,
    [Is_Estimated_Plan]   BIT           NOT NULL,
    [DW_Created_At]       DATETIME2(3)  NOT NULL
)
GO
