/****** Object:  Table [Input].[Targets]    Script Date: 07/14/2026 ******/
-- RESHAPED for the target-model rewrite: one row per (FY, Metric, Target_Level). Target_Level =
-- 'Practice' or a Custom_Role (from Dim_Practitioner.Custom_Role). Sparse (absent = no benchmark).
-- Owner-curated in the AppDB Fabric SQL Database (Input.Targets); synced by
-- Meta.usp_Sync_Input_From_AppDB. Replaces the old Site/Practitioner/Period_Type/Period_Value shape.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Input].[Targets]
GO
CREATE TABLE [Input].[Targets](
    [Tenant_ID]     [int]           NOT NULL,
    [FY]            [smallint]      NOT NULL,   -- FY start year (2026 = FY 2026-27)
    [Metric]        [varchar](100)  NOT NULL,   -- = Config.Metric_Definitions.Metric_Key
    [Target_Level]  [varchar](100)  NOT NULL,   -- 'Practice' or a Custom_Role
    [Target_Value]  [decimal](18,4) NOT NULL,
    [Updated_At]    [datetime2](3)  NULL,
    [Updated_By]    [varchar](256)  NULL
)
GO
