/****** Object:  Table [Input].[Metric_Variance]    Script Date: 07/14/2026 ******/
-- Per-metric tolerance band (ONE row per metric -- not per cell / per FY). Owner-curated in the
-- AppDB Fabric SQL Database; synced here by Meta.usp_Sync_Input_From_AppDB. Consumed by the target
-- RAG measures (pp for % metrics, relative % for count/currency).
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Input].[Metric_Variance]
GO
CREATE TABLE [Input].[Metric_Variance](
    [Tenant_ID]  [int]          NOT NULL,
    [Metric]     [varchar](100) NOT NULL,
    [Variance]   [decimal](9,4) NOT NULL,
    [Updated_At] [datetime2](3) NULL,
    [Updated_By] [varchar](256) NULL
)
GO
