/****** Object:  Table [Input].[Practitioner_Role]    Script Date: 07/14/2026 ******/
-- Owner-curated one-role-per-practitioner override (the "Modified Role"). SCD-1, no history.
-- Source of truth = the AppDB Fabric SQL Database; synced here by Meta.usp_Sync_Input_From_AppDB
-- (option B, cross-DB read). Consumed by Gold.usp_Load_Dim_Practitioners as
-- Custom_Role = COALESCE(this override, Dentally role).
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Input].[Practitioner_Role]
GO
CREATE TABLE [Input].[Practitioner_Role](
    [Tenant_ID]       [int]          NOT NULL,
    [Practitioner_ID] [int]          NOT NULL,
    [Custom_Role]     [varchar](100) NOT NULL,
    [Updated_At]      [datetime2](3) NULL,
    [Updated_By]      [varchar](256) NULL
)
GO
