/****** Object:  Table [Input].[Practice_Config]    Script Date: 08/01/2026 ******/
-- Per-tenant practice configuration. Owner-curated in the AppDB Fabric SQL Database
-- (Input.Practice_Config); synced to WH by Meta.usp_Sync_Input_From_AppDB. FY_Start_Month = the month
-- (1-12) the practice FINANCIAL YEAR starts (default 4 = April). Drives the practice-FY window +
-- labels used by targets and year-to-date. NHS FY is ALWAYS Apr-Mar and is NOT affected by this.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Input].[Practice_Config]
GO
CREATE TABLE [Input].[Practice_Config](
    [Tenant_ID]       [int]          NOT NULL,
    [FY_Start_Month]  [tinyint]      NOT NULL,   -- 1-12; 1 (Jan) = a calendar-year FY (single-year label)
    [Updated_At]      [datetime2](3) NULL,
    [Updated_By]      [varchar](256) NULL
)
GO
