/****** Object:  Table [Input_Stage].[Sync_Fingerprint]    Script Date: 29/09/2026 ******/
--------------------------------------------------------------------
--  Table            :  Input_Stage.Sync_Fingerprint
--  Author           :  AIH
--  Initial Date     :  29/09/2026
--  Notes:
--    Grain   : one row per staged table.
--
--    ==> THIS TABLE IS STATE, NOT STAGING. DO NOT DROP IT ON DEPLOY. <== Every other
--    Input_Stage table is emptied and refilled by appdb_sync on every run, so their DDL can drop
--    freely. This one records what was last written, and dropping it only costs a needless full
--    restage -- hence the guard rather than DROP TABLE IF EXISTS.
--
--    Why it exists: the ten-minute access sync used to DELETE and re-INSERT all eight staged
--    tables whether or not anything had changed. Access records almost never change, and that
--    job was 6,422 CPU-seconds a week -- 32% of the production warehouse's entire compute -- to
--    restage about 750 identical rows. The fingerprint lets the job prove nothing changed and
--    write nothing at all.
--
--    Fingerprint is SHA-256 over the source rows, computed in Python: sorted first, because the
--    source SELECT has no ORDER BY and a row-order change is not a content change.
--------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('Input_Stage.Sync_Fingerprint', 'U') IS NULL
BEGIN
    CREATE TABLE [Input_Stage].[Sync_Fingerprint](
          [Table_Name]  [varchar](128)  NOT NULL
        , [Row_Count]   [int]           NOT NULL
        , [Fingerprint] [char](64)      NOT NULL
        , [Updated_At]  [datetime2](3)  NOT NULL
    );
END
GO
