-- Input_Stage.Application_Users
-- Landing copy of AppDB Input.Application_Users, written by the appdb-sync Container Apps Job.
--
-- WHY THIS EXISTS: AppDB moved off the Fabric capacity to Azure SQL (see AppDB/MIGRATION.md).
-- The Meta.usp_Sync_*_From_AppDB procs used to read [AppDB].[Input].[Application_Users] by three-part name,
-- which only resolves for a Fabric item in the same workspace. They now read this table instead,
-- and the job lands the rows here. Their MERGE logic is otherwise unchanged.
--
-- TRANSIENT. The job DELETEs and refills it every run; it is never the system of record and holds
-- no history. Truncating it loses nothing -- the next run restores it from AppDB.
--
-- Types match AppDB exactly, except where the Fabric Warehouse has no equivalent:
--   TINYINT -> SMALLINT (Practice_Config.FY_Start_Month). Values 1-12, so the widening is free.
--
-- No PK: the Fabric Warehouse does not enforce constraints, so declaring one would be decoration
-- that implies a guarantee the engine does not give. The source PKs are enforced in AppDB.
--
-- GENERATED from the live AppDB schema by Scripts/Generate_Input_Stage_DDL.py -- regenerate rather than
-- hand-edit if AppDB_Input_Schema.sql changes.
IF SCHEMA_ID('Input_Stage') IS NULL EXEC('CREATE SCHEMA Input_Stage');
GO
IF OBJECT_ID('Input_Stage.Application_Users') IS NULL
CREATE TABLE [Input_Stage].[Application_Users] (
    [User_UPN]                VARCHAR(255)     NOT NULL,
    [Client_ID]               INT              NOT NULL,
    [Display_Name]            VARCHAR(255)         NULL,
    [Maintain_Targets]        BIT              NOT NULL,
    [Access_Home]             BIT                  NULL,
    [Access_Revenue]          BIT                  NULL,
    [Access_Patient]          BIT                  NULL,
    [Access_Schedule]         BIT                  NULL,
    [Access_Clinical]         BIT                  NULL,
    [Access_NHS]              BIT                  NULL,
    [Access_Day_Book]         BIT                  NULL,
    [Access_Finance]          BIT                  NULL,
    [Access_My_Data]          BIT                  NULL,
    [Access_Marketing]        BIT                  NULL,
    [Practitioner_Full_Name]  VARCHAR(255)         NULL,
    [Profile_Key]             VARCHAR(50)          NULL,
    [Updated_At]              DATETIME2(3)     NOT NULL,
    [Updated_By]              VARCHAR(255)         NULL
);
GO
