/****** Object:  Table [Input].[Plan_Capitation_Rate]    Script Date: 08/01/2026 ******/
-- Per-plan monthly capitation fee, EFFECTIVE-DATED. Owner-curated in the AppDB Fabric SQL Database
-- (Input.Plan_Capitation_Rate); synced to WH by Meta.usp_Sync_Input_From_AppDB. Many rows per plan
-- (fee-over-time). Is_Default flags the one plan whose rate values lapsed (former) members whose
-- original plan Dentally no longer records. Read by Gold.usp_Load_Fact_Revenue (there is no
-- usp_Load_Fact_Plan_Capitation -- capitation is produced inside the revenue loader, which also
-- writes Gold.Fact_Plan_Spell).
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [Input].[Plan_Capitation_Rate]
GO
CREATE TABLE [Input].[Plan_Capitation_Rate](
    [Tenant_ID]           [int]          NOT NULL,
    [Payment_Plan_ID]     [bigint]       NOT NULL,   -- Dentally payment plan id (= Dim_Payment_Plans.Payment_Plan_ID)
    [Effective_From_Date] [date]         NOT NULL,   -- fee applies from this month onward (latest <= month wins)
    [Monthly_Value]       [decimal](9,2) NOT NULL,   -- per-patient monthly capitation fee
    [Is_Default]          [bit]          NOT NULL,   -- 1 = fallback plan for former members
    [Hygienist_Visit_Value]   [decimal](9, 2)  NULL,          -- per-VISIT value moved dentist -> hygienist
    [Updated_At]          [datetime2](3) NULL,
    [Updated_By]          [varchar](256) NULL
)
GO
