-- Input_Stage.Practitioner_Pay
-- Landing copy of AppDB Input.Practitioner_Pay, written by the appdb-sync Container Apps Job.
--
-- WHY THIS EXISTS: AppDB moved off the Fabric capacity to Azure SQL (see AppDB/MIGRATION.md).
-- The Meta.usp_Sync_*_From_AppDB procs used to read [AppDB].[Input].[Practitioner_Pay] by three-part name,
-- which only resolves for a Fabric item in the same workspace. They now read this table instead,
-- and the job lands the rows here. Their MERGE logic is otherwise unchanged.
--
-- TRANSIENT. The job DELETEs and refills it every run; it is never the system of record and holds
-- no history. Truncating it loses nothing -- the next run restores it from AppDB.
--
-- Types match AppDB exactly, except where the Fabric Warehouse has no equivalent:
--   TINYINT -> SMALLINT (Practice_Config.FY_Start_Month). Values 1-12, so the widening is free.
--
-- No PK: the Fabric Warehouse does not enforce constraints, so declaring one would be decoration
-- that implies a guarantee the engine does not give. The source PKs are enforced in AppDB.
--
-- GENERATED from the live AppDB schema by Scripts/Generate_Input_Stage_DDL.py -- regenerate rather than
-- hand-edit if AppDB_Input_Schema.sql changes.
IF SCHEMA_ID('Input_Stage') IS NULL EXEC('CREATE SCHEMA Input_Stage');
GO
IF OBJECT_ID('Input_Stage.Practitioner_Pay') IS NULL
CREATE TABLE [Input_Stage].[Practitioner_Pay] (
    [Tenant_ID]        INT              NOT NULL,
    [Practitioner_ID]  BIGINT           NOT NULL,
    [Associate_Pct]    DECIMAL(6,3)         NULL,
    [FTE]              DECIMAL(4,2)         NULL,
    [Updated_At]       DATETIME2(3)     NOT NULL,
    [Updated_By]       VARCHAR(256)         NULL
);
GO
