--DECLARE @i BIGINT=0,@u BIGINT=0,@d BIGINT=0; EXEC [Meta].[usp_Sync_Input_From_AppDB] @Mode='PROD',@Run_Inserts=@i OUT,@Run_Updates=@u OUT,@Run_Deletes=@d OUT;
--------------------------------------------------------------------
--  Stored Procedure :  Meta.usp_Sync_Input_From_AppDB
--  Author           :  AIH
--  Initital Date    :  14/07/2026
--  History          :
--    *01     14/07/2026  AIH Initial Release -- copy the owner-curated Input tables from the AppDB
--                            Fabric SQL Database into WH_Dentally.Input.* (option B; cross-DB read by
--                            item display name [AppDB].[Input].*). Full refresh (tiny tables); AppDB is
--                            source of truth. Starts with Practitioner_Role; Targets + Metric_Variance
--                            added when those WH tables land.
--    *02     14/07/2026  AIH Add Metric_Variance copy block.
--    *03     14/07/2026  AIH Add Targets reshape -> copy AppDB.Input.Targets (FY/Metric/Target_Level).
--         *04           16/07/2026     AIH   Add Practitioner_Pay copy block (Associate_Pct + FTE).
--         *05           17/07/2026     AIH   Add Application_Users + Access_Log (Subscriptions) upsert.
--         *06           17/09/2026     AIH   Read [Input_Stage].* instead of [AppDB].[Input].*. AppDB moved
--                                           off the Fabric capacity to Azure SQL; a three-part name only
--                                           resolves for a Fabric item, so *01's cross-DB read no longer
--                                           works. The appdb-sync Container Apps Job lands the rows in
--                                           Input_Stage. Copy/MERGE logic unchanged -- staging verified
--                                           identical to the old source before the switch.
--         *07           17/09/2026     AIH   Security = ACCESS-HOLDERS ONLY, matching usp_Sync_Access_From_AppDB
--                                           (*02, 28/07). This proc still inserted the WHOLE roster, so each
--                                           nightly inflated Security.Application_Users (prod 7 -> 66) and the
--                                           next 10-minute access sync trimmed it back. Harmless -- an
--                                           access-less row fails closed in _get_user_info -- but the two procs
--                                           were fighting for up to 10 minutes after every build. Adds the
--                                           REVOKE delete and the access-holders filter on INSERT.
--  To Run           :   DECLARE @Run_Inserts BIGINT,@Run_Updates BIGINT,@Run_Deletes BIGINT; EXEC Meta.usp_Sync_Input_From_AppDB @Run_Inserts=@Run_Inserts OUT,@Run_Updates=@Run_Updates OUT,@Run_Deletes=@Run_Deletes OUT
---------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [Meta].[usp_Sync_Input_From_AppDB]
GO
CREATE PROCEDURE [Meta].[usp_Sync_Input_From_AppDB]
(
      @Mode          VARCHAR(100) = 'TEST'
    , @Logging       smallint      = 1
    , @Run_UUID      UNIQUEIDENTIFIER = NULL
    , @Run_Inserts   BIGINT OUT
    , @Run_Updates   BIGINT OUT
    , @Run_Deletes   BIGINT OUT
)
AS
BEGIN
    DECLARE @My_Inserts BIGINT = 0;
    DECLARE @My_Updates BIGINT = 0;
    DECLARE @My_Deletes BIGINT = 0;
    SET NOCOUNT ON;
    BEGIN TRY
        -- Practitioner_Role: full refresh from AppDB (source of truth; SCD-1, one row/practitioner).
        DELETE FROM [Input].[Practitioner_Role];
        SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

        INSERT INTO [Input].[Practitioner_Role] (Tenant_ID, Practitioner_ID, Custom_Role, FTE, Updated_At, Updated_By)
        SELECT Tenant_ID, CAST(Practitioner_ID AS INT), Custom_Role, FTE, Updated_At, Updated_By
        FROM   [Input_Stage].[Practitioner_Role];
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

        -- Metric_Variance: full refresh from AppDB (one tolerance band per metric).
        DELETE FROM [Input].[Metric_Variance];
        SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

        INSERT INTO [Input].[Metric_Variance] (Tenant_ID, Metric, Variance, Updated_At, Updated_By)
        SELECT Tenant_ID, Metric, Variance, Updated_At, Updated_By
        FROM   [Input_Stage].[Metric_Variance];
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

        -- Target grid: full refresh from AppDB (FY x Metric x Target_Level).
        DELETE FROM [Input].[Targets];
        SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

        INSERT INTO [Input].[Targets] (Tenant_ID, FY, Metric, Target_Level, Target_Value, Updated_At, Updated_By)
        SELECT Tenant_ID, FY, Metric, Target_Level, Target_Value, Updated_At, Updated_By
        FROM   [Input_Stage].[Targets];
        SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

                -- Plan_Capitation_Rate: full refresh from AppDB (per-plan effective-dated fees).
                DELETE FROM [Input].[Plan_Capitation_Rate];
                SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

                -- Hygienist_Visit_Value rides the same effective-dated row as the monthly fee, so
                -- there is ONE rate history rather than two that have to be kept in step.
                INSERT INTO [Input].[Plan_Capitation_Rate] (Tenant_ID, Payment_Plan_ID, Effective_From_Date, Monthly_Value, Hygienist_Visit_Value, Is_Default, Updated_At, Updated_By)
                SELECT Tenant_ID, Payment_Plan_ID, Effective_From_Date, Monthly_Value, Hygienist_Visit_Value, Is_Default, Updated_At, Updated_By
                FROM       [Input_Stage].[Plan_Capitation_Rate];
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

                -- Practice_Config: full refresh from AppDB (per-tenant FY start month).
                DELETE FROM [Input].[Practice_Config];
                SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

                INSERT INTO [Input].[Practice_Config] (Tenant_ID, FY_Start_Month, Updated_At, Updated_By)
                SELECT Tenant_ID, FY_Start_Month, Updated_At, Updated_By
                FROM       [Input_Stage].[Practice_Config];
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

                -- Practitioner_Pay: full refresh from AppDB (Associate_Pct + FTE). FTE feeds
                -- Dim_Practitioners.FTE (target scaling); either column may be null.
                DELETE FROM [Input].[Practitioner_Pay];
                SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

                INSERT INTO [Input].[Practitioner_Pay] (Tenant_ID, Practitioner_ID, Associate_Pct, FTE, DW_Created_At, DW_Updated_At)
                SELECT Tenant_ID, CAST(Practitioner_ID AS INT), Associate_Pct, FTE, ISNULL(Updated_At, SYSUTCDATETIME()), ISNULL(Updated_At, SYSUTCDATETIME())
                FROM   [Input_Stage].[Practitioner_Pay];
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

                -- Application_Users (Subscriptions): UPSERT AppDB -> WH auth table.
                -- Security = ACCESS-HOLDERS ONLY (*07). Supersedes the original note here, which said
                -- auth rows are never wiped and a removal arrives as no_access with all flags 0. That
                -- stopped being true when usp_Sync_Access_From_AppDB adopted the rule on 28/07 (*02),
                -- and this proc was never brought in line -- so every nightly re-inserted the whole
                -- roster and the next 10-minute access sync trimmed it back. The two fought each other.
                --
                -- REVOKE FIRST, for the same reason the access proc does: a user downgraded to
                -- no_access must LOSE the Security row, not keep an all-zero one. Only rows that JOIN
                -- to a staging row are touched, so support logins inserted straight into Security by
                -- SQL (no AppDB counterpart) are left alone.
                DELETE tgt
                FROM [Security].[Application_Users] tgt
                JOIN [Input_Stage].[Application_Users] src ON LOWER(tgt.User_UPN) = LOWER(src.User_UPN)
                WHERE (EXISTS (
                     -- Deactivated in Dentally. The SAME expression the Subscriptions roster uses
                     -- (COALESCE(u.Permission_Level, sp.perm, 1) > 0), so the screen and billing
                     -- agree by construction rather than by coincidence -- they disagreeing is what
                     -- left Kelly Edge billed at front_office while invisible on the roster.
                     --
                     -- NOTE THE JOIN: only a user who HAS a Dim_Users row reading 0 is revoked.
                     -- Absence is NOT deactivation. A failed or part-loaded Dim_Users would
                     -- otherwise revoke the entire practice's access in one run, and the
                     -- COALESCE default of 1 likewise keeps a NULL Permission_Level (every row
                     -- before the Bronze.usp_Load_Users *04 backfill) meaning "assume active".
                     SELECT 1
                     FROM [Gold].[Dim_Users] du
                     LEFT JOIN (SELECT Tenant_ID, User_ID, MAX(User_Permission_Level) AS perm
                                FROM [Silver].[Practitioners] GROUP BY Tenant_ID, User_ID) sp
                            ON sp.Tenant_ID = du.Tenant_ID AND sp.User_ID = du.bk_User_ID
                     JOIN [Audit].[Tenants] dt ON dt.Tenant_ID = du.Tenant_ID
                     WHERE du.Is_Current = 1
                       AND LOWER(LTRIM(RTRIM(du.Email))) = LOWER(LTRIM(RTRIM(src.User_UPN)))
                       AND dt.Client_ID = src.Client_ID
                       AND COALESCE(du.Permission_Level, sp.perm, 1) = 0
                 )
                   OR NOT (src.Access_Home=1 OR src.Access_Revenue=1 OR src.Access_Patient=1 OR src.Access_Schedule=1
                       OR src.Access_Clinical=1 OR src.Access_NHS=1 OR src.Access_Day_Book=1 OR src.Access_Finance=1
                       OR src.Access_My_Data=1 OR src.Access_Marketing=1 OR src.Maintain_Targets=1));
                SET @My_Deletes = @My_Deletes + @@ROWCOUNT;

                UPDATE tgt SET tgt.Client_ID=src.Client_ID, tgt.Display_Name=src.Display_Name, tgt.Maintain_Targets=src.Maintain_Targets,
                    tgt.Access_Home=src.Access_Home, tgt.Access_Revenue=src.Access_Revenue, tgt.Access_Patient=src.Access_Patient,
                    tgt.Access_Schedule=src.Access_Schedule, tgt.Access_Clinical=src.Access_Clinical, tgt.Access_NHS=src.Access_NHS,
                    tgt.Access_Day_Book=src.Access_Day_Book, tgt.Access_Finance=src.Access_Finance, tgt.Access_My_Data=src.Access_My_Data,
                    tgt.Access_Marketing=src.Access_Marketing, tgt.Practitioner_Full_Name=src.Practitioner_Full_Name, tgt.Profile_Key=src.Profile_Key
                FROM [Security].[Application_Users] tgt
                JOIN [Input_Stage].[Application_Users] src ON LOWER(tgt.User_UPN) = LOWER(src.User_UPN);
                SET @My_Updates = @My_Updates + @@ROWCOUNT;

                INSERT INTO [Security].[Application_Users] (User_UPN, Client_ID, Display_Name, Maintain_Targets, Access_Home, Access_Revenue, Access_Patient, Access_Schedule, Access_Clinical, Access_NHS, Access_Day_Book, Access_Finance, Access_My_Data, Access_Marketing, Practitioner_Full_Name, Profile_Key)
                SELECT src.User_UPN, src.Client_ID, src.Display_Name, src.Maintain_Targets, src.Access_Home, src.Access_Revenue, src.Access_Patient, src.Access_Schedule, src.Access_Clinical, src.Access_NHS, src.Access_Day_Book, src.Access_Finance, src.Access_My_Data, src.Access_Marketing, src.Practitioner_Full_Name, src.Profile_Key
                FROM [Input_Stage].[Application_Users] src
                LEFT JOIN [Security].[Application_Users] tgt ON LOWER(tgt.User_UPN) = LOWER(src.User_UPN)
                WHERE tgt.User_UPN IS NULL
                  AND (src.Access_Home=1 OR src.Access_Revenue=1 OR src.Access_Patient=1 OR src.Access_Schedule=1
                       OR src.Access_Clinical=1 OR src.Access_NHS=1 OR src.Access_Day_Book=1 OR src.Access_Finance=1
                       OR src.Access_My_Data=1 OR src.Access_Marketing=1 OR src.Maintain_Targets=1)
                  AND NOT EXISTS (
                     -- Deactivated in Dentally. The SAME expression the Subscriptions roster uses
                     -- (COALESCE(u.Permission_Level, sp.perm, 1) > 0), so the screen and billing
                     -- agree by construction rather than by coincidence -- they disagreeing is what
                     -- left Kelly Edge billed at front_office while invisible on the roster.
                     --
                     -- NOTE THE JOIN: only a user who HAS a Dim_Users row reading 0 is revoked.
                     -- Absence is NOT deactivation. A failed or part-loaded Dim_Users would
                     -- otherwise revoke the entire practice's access in one run, and the
                     -- COALESCE default of 1 likewise keeps a NULL Permission_Level (every row
                     -- before the Bronze.usp_Load_Users *04 backfill) meaning "assume active".
                     SELECT 1
                     FROM [Gold].[Dim_Users] du
                     LEFT JOIN (SELECT Tenant_ID, User_ID, MAX(User_Permission_Level) AS perm
                                FROM [Silver].[Practitioners] GROUP BY Tenant_ID, User_ID) sp
                            ON sp.Tenant_ID = du.Tenant_ID AND sp.User_ID = du.bk_User_ID
                     JOIN [Audit].[Tenants] dt ON dt.Tenant_ID = du.Tenant_ID
                     WHERE du.Is_Current = 1
                       AND LOWER(LTRIM(RTRIM(du.Email))) = LOWER(LTRIM(RTRIM(src.User_UPN)))
                       AND dt.Client_ID = src.Client_ID
                       AND COALESCE(du.Permission_Level, sp.perm, 1) = 0
                 );  -- access-holders only (*07)
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;

                -- Access_Log: append rows not already in the warehouse (natural key).
                INSERT INTO [Security].[Access_Log] (Tenant_ID, User_UPN, Profile_Key, Effective_At, Changed_By)
                SELECT src.Tenant_ID, src.User_UPN, src.Profile_Key, src.Effective_At, src.Changed_By
                FROM [Input_Stage].[Access_Log] src
                LEFT JOIN [Security].[Access_Log] tgt ON LOWER(LTRIM(RTRIM(tgt.User_UPN))) = LOWER(LTRIM(RTRIM(src.User_UPN))) AND tgt.Effective_At = src.Effective_At AND tgt.Profile_Key = src.Profile_Key
                WHERE tgt.User_UPN IS NULL;
                SET @My_Inserts = @My_Inserts + @@ROWCOUNT;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;

    SET @Run_Inserts = @My_Inserts;
    SET @Run_Updates = @My_Updates;
    SET @Run_Deletes = @My_Deletes;
END
GO
