-- Sales.Usage_Daily
-- One row per (Tenant, login, day) with the number of report embeds on that day.
--
-- GRAIN, NOT METRICS. The three figures asked for -- days accessed, days since last access, total
-- reports accessed -- are DAX over this table, not columns in it:
--     days accessed          DISTINCTCOUNT(Access_Date)
--     days since last access TODAY() - MAX(Access_Date)
--     reports accessed       SUM(Report_Opens)   /   DISTINCTCOUNT breadth via Reports_Distinct
-- Storing the grain keeps the table small, lets any window be asked for after the fact, and means
-- a change of definition is a measure edit rather than a reload.
--
-- SOURCE is the app's own log, not a new write path: "embed-token issued: upn=... report=...
-- tenant=..." reaches Log Analytics because the Container Apps environment ships console logs
-- there. Scripts/Sales_Monitor_Load.py queries it and DELETE+INSERTs the window it loaded, so a
-- re-run is idempotent.
--
-- ==> Is_Vendor EXISTS BECAUSE 98% OF LOGGED USAGE WAS US. <== Measured 2026-10-02: of 2,662
-- embed lines in 30 days, 2,608 were admin@analytically.info and 54 were a practice user. A usage
-- report that does not separate the two reads as healthy engagement when the customer is dormant.
-- Every measure over this table must filter Is_Vendor = 0 unless it is deliberately showing ours.
--
-- Tenant_ID IS NULLABLE on purpose: a staff login whose scope is more than one practice mints its
-- token without customData and the line reads "tenant=all-permitted". That is a real session and
-- belongs in the table; it just cannot be attributed to one practice.
--
-- App_Env separates dev from prod. Both container apps ship to the SAME workspace, so without it
-- dev testing is indistinguishable from customer use -- which is how the 98% above was missed on
-- a first pass.
IF SCHEMA_ID('Sales') IS NULL EXEC('CREATE SCHEMA Sales');
GO
IF OBJECT_ID('Sales.Usage_Daily') IS NULL
CREATE TABLE [Sales].[Usage_Daily] (
      [App_Env]           VARCHAR(10)   NOT NULL,   -- 'prod' | 'dev', from the container app name
      [Tenant_ID]         INT               NULL,   -- NULL = multi-practice scope ("all-permitted")
      [User_UPN]          VARCHAR(256)  NOT NULL,
      [Is_Vendor]         BIT           NOT NULL,   -- 1 = an @analytically.info login, i.e. us
      [Access_Date]       DATE          NOT NULL,
      [Report_Opens]      INT           NOT NULL,   -- embeds that day; see the preload note below
      [Reports_Distinct]  INT           NOT NULL,   -- how many DIFFERENT reports, i.e. breadth
      [First_Access_At]   DATETIME2(3)      NULL,
      [Last_Access_At]    DATETIME2(3)      NULL,
      [DW_Loaded_At]      DATETIME2(3)  NOT NULL
);
GO
-- ==> REPORT_OPENS BEFORE 2026-10-02 IS INFLATED UP TO 10x. <== Until the preload was disabled
-- that morning (PRELOAD_SECTIONS = false), every page load embedded the first section AND
-- preloaded nine more, whether or not anyone looked at them. So a single login logged ten opens.
-- From that date one open is one section a human actually opened, which is the figure worth
-- trending. Do not compare across the cutover without saying so.
