-- Sales.Funnel_Event
-- One row per trial-funnel event, in order: a prospect's progress from "asked for a code" to
-- "paid us money".
--
--     challenge_sent     verification code emailed        (app log)
--     verified           code accepted                    (app log)
--     token_accepted     Dentally key passed preflight    (Key Vault onboarding-pending-<env>)
--     card_attached      a payment method exists          (Stripe)
--     card_chargeable    it is the default for invoices   (Stripe)
--     invoice_paid       money taken                      (Billing.Stripe_Invoice)
--
-- ==> card_attached AND card_chargeable ARE SEPARATE STAGES ON PURPOSE. <== Setup-mode Checkout
-- only ATTACHES a card; a customer can hold a perfectly good one with no
-- invoice_settings.default_payment_method set, and would then fail to bill. Web/app.py already
-- adopts the attached card when there is no default -- these two stages make the gap between them
-- visible instead of leaving it to be discovered at the first charge.
--
-- ==> NO EMAIL ADDRESS IS STORED. <== Email_Hash is HMAC-SHA256 of the lower-cased address under a
-- stable server secret, with a domain separator so the value cannot be replayed against the
-- state-signing key. Stable, so the stages of one prospect join; irreversible, so Log Analytics and
-- this table hold no personal address. Email_Domain IS kept, because "which practice" is the whole
-- point of a sales monitor and a domain is not a person.
--
-- Practice_Name is whatever the prospect typed, so it is advisory, not an identity. Tenant_ID is
-- NULL until a trial becomes a tenant -- most rows will never have one, which is the funnel
-- working as intended.
--
-- The loader DELETE+INSERTs per (App_Env, Stage) window, so re-running cannot duplicate a stage.
IF SCHEMA_ID('Sales') IS NULL EXEC('CREATE SCHEMA Sales');
GO
IF OBJECT_ID('Sales.Funnel_Event') IS NULL
CREATE TABLE [Sales].[Funnel_Event] (
      [App_Env]        VARCHAR(10)   NOT NULL,
      [Event_At]       DATETIME2(3)  NOT NULL,
      [Stage]          VARCHAR(32)   NOT NULL,   -- see the ordered list above
      [Stage_Order]    SMALLINT      NOT NULL,   -- 1..6, so PBI sorts the funnel without a lookup
      [Email_Hash]     CHAR(64)          NULL,   -- HMAC-SHA256 hex; NULL for tenant-derived stages
      [Email_Domain]   VARCHAR(255)      NULL,
      [Practice_Name]  VARCHAR(255)      NULL,   -- as typed by the prospect; advisory only
      [Tenant_ID]      INT               NULL,   -- set only once a trial became a tenant
      [Detail]         VARCHAR(400)      NULL,   -- e.g. Stripe status, or a preflight failure reason
      [DW_Loaded_At]   DATETIME2(3)  NOT NULL
);
GO
