-- Security.Access_Log.Data.sql
-- Ensure every currently-billable user in Application_Users has an Access_Log entry. The billing rollup
-- reconstructs each user's subscription history from Access_Log, so owner/support rows that were seeded
-- straight into Application_Users (not via /api/team) would otherwise never be billed. Idempotent:
-- inserts only where the user has no log row. Dated at the account's Access_From (Billing.Account_Billing)
-- when known, else today. Runs AFTER Billing.Account_Billing + Security.Application_Users are populated.
INSERT INTO Security.Access_Log (Tenant_ID, User_UPN, Profile_Key, Effective_At, Changed_By)
SELECT t.Tenant_ID, au.User_UPN, au.Profile_Key,
       CAST(COALESCE(ab.Access_From, CAST(SYSUTCDATETIME() AS DATE)) AS DATETIME2(3)), 'seed'
FROM Security.Application_Users au
JOIN Audit.Tenants t ON t.Client_ID = au.Client_ID
LEFT JOIN Billing.Account_Billing ab ON ab.Tenant_ID = t.Tenant_ID
LEFT JOIN Security.Access_Log l
       -- NORMALISED, and this script is the reason it matters most. The warehouse collation is
       -- BINARY (Latin1_General_100_BIN2_UTF8), and Application_Users takes its UPN from the
       -- Dentally roster while Access_Log takes its from the Subscriptions screen -- so the two
       -- disagree on case for real users. A raw join finds no existing row, IS NULL passes, and
       -- this INSERTS A SECOND Access_Log row in the other casing. Since V168 made the billing
       -- generator normalise, both rows now land in ONE interval chain, and the spurious 'seed'
       -- entry dated at Access_From can drag that user's Bill_Start earlier than it should be.
       -- So a re-run does not merely fail to help -- it corrupts the history it exists to create.
       ON LOWER(LTRIM(RTRIM(l.User_UPN))) = LOWER(LTRIM(RTRIM(au.User_UPN)))
WHERE au.Profile_Key IS NOT NULL AND au.Profile_Key <> 'no_access' AND l.User_UPN IS NULL;